@charset "UTF-8";
@use "./_mixin" as *;
@use "./guide" as *;
@use "./service-layout" as *;
h3 {
  margin: 20px 0 14px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #005f9e;
}

p {
  font-size: 16px;
  line-height: 1.4;
}

.breadcrumb-wrap + h3 {
  margin-top: 0;
}

.section {
  width: 1205px;
  margin: 0 auto;
}

/* de_us_12 : 사업소개 > 시험안내 */
.de_us_12 h3 {
  font-size: 36px;
  line-height: 1.5;
}

.de_us_12 .hello {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.de_us_12 .hello p {
  font-size: 24px;
  line-height: 1.5;
  color: #6b7684;
}

/* de_us_15 : 게시판 > FAQ */
.p-board thead th {
  background-color: #4e5968;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: #fff;
  padding: 12px;
  border-right: 1px solid #191f28;
}

.p-board thead th:last-child {
  border-right: 0;
}

.p-board tbody.align_center th,
.p-board tbody.align_center td {
  text-align: center;
}

.p-board tbody.align_center .p-subject {
  text-align: left;
}

.p-board tbody.align_center .p-subject > a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.p-board tbody th,
.p-board tbody td {
  font-weight: 400;
  font-size: 13px;
  height: 15.6px;
  color: #6b7684;
  padding: 10px;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #e5e8eb;
}

.p-board tbody th:last-child,
.p-board tbody td:last-child {
  border-right: 0;
}

.p-board tbody tr:last-child th,
.p-board tbody tr:last-child td {
  border-bottom: 1px solid #6b7684;
}

.p-board tbody th {
  background-color: #f2f4f6;
}

.p-board tbody td {
  background-color: #fff;
}

.p-board tbody .p-subject {
  text-align: left;
}

.p-board tbody a {
  vertical-align: middle;
}

.p-board tbody .attatch {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  background: url(../images/common/file.svg) no-repeat center center;
  background-size: 12px 12px;
}

/* 마이페이지 - 설정 */
.de_us_18 .mypage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 32px;
  gap: 20px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.de_us_18 .mypage .floor {
  position: relative;
}

.de_us_18 .mypage .floor img {
  height: 641px;
}

.de_us_18 .mypage .floor .label {
  position: absolute;
  background: #005f9e;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  padding: 5px 10px;
  border-radius: 5px;
}

.cctv {
  margin: 20px auto 40px;
}

.cctv .video-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  padding: 22px 18px 16px;
}

.cctv .video-item .video-anchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.cctv .video-item .img-wrap {
  border-radius: 12px;
  width: 216px;
}

.cctv .video-item .img-wrap img {
  width: 100%;
}

.cctv .video-item .title {
  font-size: 12px;
  line-height: 14.4px;
  font-weight: 400;
  color: #333;
}

.mypage-option {
  width: 1205px;
  margin: 0 auto;
}

.mypage-option .btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  width: 100%;
}

.mypage-option .btn-wrap .btn {
  height: 46px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #446e99;
  border-radius: 16px;
  padding: 14px 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  gap: 6px;
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.mypage-option .btn-wrap .btn:hover {
  background-color: #0279f0;
}

/* 마이페이지 -시스템 설정 - 미세먼지  */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex.gap0 {
  gap: 0px !important;
}

.flex.gap10 {
  gap: 10px !important;
}

.flex.gap20 {
  gap: 20px !important;
}

.flex.gap30 {
  gap: 30px !important;
}

.flex.gap40 {
  gap: 40px !important;
}

.flex.gap50 {
  gap: 50px !important;
}

.flex.gap60 {
  gap: 60px !important;
}

.flex.gap70 {
  gap: 70px !important;
}

.flex.gap80 {
  gap: 80px !important;
}

.flex.gap90 {
  gap: 90px !important;
}

.flex.gap100 {
  gap: 100px !important;
}

.column[data-ratio="1-3"] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.column[data-ratio="2-3"] {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.column[data-ratio="1-2"] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.de_us_19 section > .tab {
  width: 1205px;
  margin: 0 auto;
}

.de_us_19 .mypage-head-setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 50px 0 30px;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
}

.de_us_19 .mypage-head-setting .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  justify-items: center;
}

.de_us_19 .mypage-head-setting .column h3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 0 0;
}

.de_us_19 .mypage-head-setting .column .btn {
  width: 200px;
}

.de_us_19 .chart-wrap {
  position: relative;
}

.de_us_19 .chart-wrap .unit {
  position: absolute;
  right: 20px;
  top: 20px;
}

.de_us_19 .mypage-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 40px;
}

.de_us_19 .mypage-con select.input {
  width: 150px;
}

.btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-wrap .btn {
  margin: 0;
}

.popup.de_us_20 .input[type="text"] {
  min-width: 0;
  width: 100%;
}

.popup.de_us_20 .table table th,
.popup.de_us_20 .table table td {
  padding: 5px;
}

.de_us_21 .control {
  gap: 30px;
}

.video-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.video-wrap video {
  display: block;
  width: auto;
  height: auto;
  margin: 0 auto;
}

.my-page #content .breadcrumb-wrap {
  padding-top: 20px;
  padding-bottom: 20px;
}

.my-page .mypage {
  padding: 0 32px;
}

.my-page .mypage-head-setting {
  margin-top: 10px;
}

.my-page .auto-table select.input,
.my-page .auto-table input.input {
  margin: 0;
  width: 64px;
  min-width: 50px;
}

/* mypage map */
.img-map {
  position: relative;
}

.img-map .map-list {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.img-map .map-item {
  display: block;
  position: absolute;
  border-right: 2px dashed #0b6dcf;
  border-bottom: 2px dashed #0b6dcf;
}

.img-map .map-item .map-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 12px;
  line-height: 1;
  height: 24px;
  padding: 5px 12px;
  border-radius: 20px;
  background-color: #0b6dcf;
  white-space: nowrap;
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.img-map .map-item:hover .map-btn {
  background-color: #ff8800;
}
/*# sourceMappingURL=service-sub.css.map */