@use "sass:map";

@mixin lg {
  @media (max-width: 1600px) {
    @content;
  }
}
@mixin md {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin sm {
  @media (max-width: 1000px) {
    @content;
  }
}
@mixin xs {
  @media (max-width: 800px) {
    @content;
  }
}
@mixin only-xl {
  @media (min-width: 1601px) {
    @content;
  }
}
@mixin only-lg {
  @media (min-width: 1201px) {
    @content;
  }
}

@mixin hidden {
  display: block;
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px);
}

@mixin shadow($depth: 1) {
  @if ($depth == 1) {
    box-shadow: 0 0.1rem rgba(0, 0, 0, 0.25);
  }
}

@mixin ellipsis($line: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  @if ($line == 1) {
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
  }
}

@mixin flexbox {
  display: flex;
  align-items: center;
}

// section {
//   @include color(background-color, black);
// }
