@use "_mixin" as *;
@use "program" as *;

p {
  font-size: 16px;
  line-height: 1.4;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#container {
  display: grid;
  grid-template-rows: 7.9rem 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas: "menu header" "menu content";
  height: 100%;
  &.sub {
    #content {
      border-top: 1px solid rgba(55, 116, 177, 0.15);
    }
  }
}
.admin-login {
  @include flexbox;
}
.header {
  grid-area: header;
  @include flexbox;
  justify-content: space-between;
  width: 100%;
  padding: 20px 32px 20px 11px;
  .login-info {
    @include flexbox;
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 400;
    letter-spacing: -0.41px;
    strong {
      font-weight: 700;
      margin-right: 5px;
    }
  }
  .connect-info {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #000;
    .btn {
      background-color: #000;
      font-size: 16px;
      line-height: 16px;
    }
  }
}
#menu {
  grid-area: menu;
  background-color: #fff;
  width: 270px;
  h1.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 79px;
  }
  .depth {
    padding: 50px;
  }
  .depth-list {
    &.depth1-list {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    &.depth2-list {
      display: none;
      flex-direction: column;
      padding: 20px 0 10px 0;
    }
  }
  .depth-item {
    &.has {
      .depth1-anchor {
        position: relative;
        width: 100%;
        &::after {
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          width: 20px;
          height: 20px;
          background: url(/images/admin/menu-arrow.svg) no-repeat center center;
          background-size: 20px 20px;
          transform: rotate(180deg);
        }
      }
      .depth2-anchor {
      }
    }
    &.active,
    &.actived {
      > .depth-anchor {
        &::after {
          transform: rotate(0deg);
        }
      }
      .depth-list {
      }
      .depth1-anchor {
      }
      .depth2-anchor {
      }
    }
    .depth-anchor {
      font-size: 20px;
      line-height: 20px;
      letter-spacing: -0.41px;
      font-weight: 700;
    }
    .depth1-anchor {
      font-weight: 700;
      font-size: 16px;
      color: #4e5968;
    }
    .depth2-anchor {
      position: relative;
      font-size: 16px;
      line-height: 16px;
      font-weight: 700;
      color: #111;
      padding: 5px 10px 5px 10px;
      &::before {
        display: block;
        position: absolute;
        left: 0;
        top: 12px;
        width: 5px;
        height: 2px;
        background-color: #000;
      }
    }
  }
  .depth1-item {
    &.has {
    }
    &.active,
    &.actived {
      .depth1-anchor {
      }
    }
  }
  .depth2-item {
    &.has {
    }
    &.active {
      .depth2-anchor {
      }
    }
  }
}
#content {
  display: flex;
  grid-area: content;
  #main {
    flex: 1;
    width: 100%;
    background-color: #f9fafb;
    padding: 70px 57px;
    .breadcrumb-wrap {
      padding-bottom: 50px;
    }
    .breadcrumb {
      display: flex;
      gap: 26px;
      li {
        display: flex;
        gap: 26px;
        &.depth1 {
          font-weight: 700;
          font-size: 36px;
        }
        &.depth2 {
          font-weight: 400;
          font-size: 36px;
          i {
            svg {
              vertical-align: baseline;
            }
          }
        }
      }
    }
    .section {
      .editor {
        background-color: #ddd;
        height: 400px;
        width: 100%;
      }
    }
  }
  .find-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      position: relative;
      & + span {
        padding-left: 10px;
        margin-left: 10px;
        &::before {
          display: block;
          position: absolute;
          content: "";
          width: 1px;
          height: 10px;
          background-color: #999;
          left: 0;
          top: calc(50% - 5px);
        }
      }
    }
  }
}

/*  ---------    heading -------------------------*/
h2 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
}
/*  ---------    heading end -------------------------*/
/*  ---------    logout popup -------------------------*/

.logout-pop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  h6 {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #000;
  }
  strong {
    font-weight: 900;
    font-size: 100px;
    line-height: 120px;
  }
  p {
    font-size: 14px;
    line-height: 18.2px;
    font-weight: 500;
  }
}

/*  ---------    logout popup -------------------------*/

/*  ---------    input -------------------------*/

.input {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  label {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }
  input {
    height: 50px;
    padding: 4px 8px;
    border: 1px solid #4e5968;
    border-radius: 3px;
    font-size: 16px;
    color: #333d4b;
    background-color: transparent;
    &::placeholder {
      font-size: 16px;
      letter-spacing: -0.3px;
    }
    &:focus {
      border-color: #414a73;
      color: #414a73;
      outline: none;
    }
    &[disabled] {
      cursor: not-allowed;
      border-color: #c5c9d6;
      background-color: #f4f5f9;
      color: #888da6;
    }
    &[type="password"] {
      padding-right: 50px;
    }
  }
  .show-hide {
    display: inline-block;
    position: absolute;
    right: 14px;
    top: calc(50% - 16px);
    width: 32px;
    height: 32px;
    @include imgBg("../images/common/show-btn-disabled.svg");
    &[disabled] {
      &::after {
        content: "비밀번호 보이기";
      }
    }
    &::after {
      font-size: 0;
      line-height: 0;
      content: "비밀번호 숨기기";
    }
  }
  &:has(input[type="file"]) {
    white-space: nowrap;
  }
  input[type="file"] {
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    & + button {
      position: relative;
      width: 45px;
      height: 40px;
      background-color: #414a73;
      border-radius: 3px;
      font-size: 0;
      &::before {
        display: block;
        position: absolute;
        width: 16px;
        height: 16px;
        top: calc(50% - 8px);
        left: calc(50% - 8px);
      }
    }
  }

  select {
    width: 180px;
    height: 36px;
    padding: 4px 27px 4px 8px;
    border: 1px solid #4e5968;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 400;
    color: #52535e;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/service/sub/input-select-arrow.svg) no-repeat
      center right 10px;
    &::-ms-expand {
      display: none; /* 화살표 없애기 for IE10, 11*/
    }
    &:focus {
      border-color: #414a73;
      color: #414a73;
      outline: none;
    }
    option {
      color: #888da6;
      &:hover {
        background: #f4f5f9;
        color: #414a73;
      }
      &[disabled] {
        cursor: not-allowed;
        border-color: #c5c9d6;
        background-color: #f4f5f9;
        color: #888da6;
      }
    }
  }

  input {
    &[type="radio"],
    &[type="checkbox"] {
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      width: 12px;
      height: 12px;
      padding: 0;
      border: 0;
      opacity: 0;
      & + label {
        position: relative;
        display: inline-block;
        padding-left: 20px;
        padding-right: 10px;
        line-height: 20px;
        font-size: 13px;
        color: #6b7684;
        vertical-align: top;
        &::before {
          top: 0;
          display: block;
          position: absolute;
          top: 3px;
          left: 0;
          width: 16px;
          height: 16px;
          background-color: transparent;
          border: 1px solid #d1d6db;
          border-radius: 50%;
          box-sizing: border-box;
        }
        &.empty {
          padding-left: 6px;
          height: 20px;
        }
      }
    }
    &[type="radio"] {
      &:checked + label:before {
        border: 5px solid #0b6dcf;
        background-color: transparent;
      }
      &[disabled] {
        + label {
          position: relative;
          display: inline-block;
          padding-left: 20px;
          padding-right: 10px;
          vertical-align: top;
          cursor: default;
          color: #888da6;
          &::before {
            display: block;
            position: absolute;
            top: 3px;
            left: 0;
            width: 16px;
            height: 16px;
            background-color: #c5c9d6;
            border: none;
            border-radius: 50%;
            box-sizing: border-box;
          }
        }
        &:checked + label:before {
          border: 5px solid #c5c9d6;
          background-color: transparent;
        }
      }
    }
    &[type="checkbox"] {
      & + label:before {
        display: block;
        position: absolute;
        top: 2px;
        left: 0;
        width: 16px;
        height: 16px;
        border-radius: 2px;
        box-sizing: border-box;
        background-color: #fff;
        border: 1px solid #d1d6db;
      }
      &:checked + label:before {
        border: 0;
        background: url(../images/common/check-checked.svg) #3182f6 no-repeat
          center center;
      }
      &[disabled] {
        + label {
          position: relative;
          display: inline-block;
          padding-left: 20px;
          padding-right: 10px;
          vertical-align: top;
          color: #888da6;
          cursor: default;
          &::before {
            display: block;
            position: absolute;
            top: 2px;
            left: 0;
            width: 16px;
            height: 16px;
            border-radius: 2px;
            box-sizing: border-box;
            background-color: #fff;
            border: 1px solid #d1d6db;
          }
        }
        &:checked + label:before {
          background: url(../images/common/check-checked.svg) #c5c9d6 no-repeat
            center center;
        }
      }
    }
  }
  &.empty {
    margin: 0;
    input {
      [type="radio"],
      [type="checkbox"] {
        + label {
          padding-left: 6px;
          font-size: 0;
          line-height: 0;
          &::before {
            top: 0;
          }
        }
      }
    }
  }
}
/*  ---------    input 끝 -------------------------*/

.error {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #ff0000;
}
.table-unit {
  font-size: 16px;
  .flex {
    @include flexbox;
    gap: 20px;
  }
}
