@use "./_mixin" as *;
@use "./client-layout" as *;

.main #content {
  &::before,
  &::after {
    display: block;
    background: url(../images/service/main/bg-circle.svg) no-repeat center
      center;
    background-size: 1232px 1232px;
    position: absolute;
    width: 1232px;
    height: 1232px;
    z-index: 10;
    top: -128px;
  }
  &::before {
    right: calc(50% + 119px);
  }
  &::after {
    transform: rotate(180deg);
    left: calc(50% + 119px);
  }
}

.main-section {
  display: flex;
  min-height: 200px;
  z-index: 20;
  position: relative;
  &.visual {
    padding-top: 40px;
    padding-bottom: 48px;
    .wrap {
      display: flex;
      align-items: stretch;
      gap: 16px;
      > h2 {
        position: absolute;
        width: 0;
        height: 0;
        font-size: 12px;
        left: 0;
        top: 0;
        opacity: 0;
      }
    }
    .news-wrap {
      display: flex;
      flex-direction: column;
      width: 358px;
      min-width: 358px;
      max-width: 358px;
      gap: 16px;
    }

    .my-anchor {
      background-color: #fff;
      border-radius: 24px;
      height: 358px;
      width: 100%;
      padding: 38px 30px;
      position: relative;
      h3 {
        word-break: keep-all;
        font-size: 32px;
        font-weight: 700;
        line-height: 38.4px;
        color: #003263;
      }
      p {
        margin-top: 10px;
        font-size: 24px;
        line-height: 28.8px;
        font-weight: 400;
        color: #003263;
      }
      .btn.arrow {
        position: absolute;
        left: 30px;
        bottom: 38px;
        width: calc(100% - 60px);
        display: inline-flex;
        justify-content: space-between;
        margin: 2px;
        min-width: 100px;
        height: auto;
        line-height: 26.6px;
        padding: 17px 30px;
        border: 1px solid #0b6dcf;
        border-radius: 8px;
        background: #0b6dcf;
        color: #fff;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        font-size: 19px;
        font-weight: 700;
        text-align: center;
        transition: 0.3s cubic-bezier(0.25, 1, 0.5, 1);
        i {
        }
      }
    }

    .news-box {
      background-color: #fff;
      border-radius: 24px;
      flex: 1;
      padding: 25px 30px;
      position: relative;
      h3 {
        font-size: 17px;
        line-height: 20.4px;
        font-weight: 700;
        color: #66a8d4;
      }
      .news-list {
        margin-top: 15px;
      }
      .news-item {
        .text {
          font-size: 24px;
          line-height: 28.8px;
          font-weight: 400;
          color: #094f7d;
        }
      }
      .news-ctrl {
        position: absolute;
        left: 30px;
        bottom: 25px;
        .dots {
          .slick-dots {
            display: flex;
            align-items: center;
            gap: 10px;
          }
          li {
            button {
              font-size: 0;
              line-height: 0;
              width: 11px;
              height: 11px;
              border-radius: 11px;
              opacity: 0.3;
              background-color: #2b83dc;
            }
            &.slick-active {
              button {
                opacity: 1;
                background-color: #2b83dc;
              }
            }
          }
        }
      }
    }

    .visual-wrap {
      flex: 1;
      border-radius: 24px;
      img {
        object-fit: cover;
      }
    }
  }
  &.tech {
    .wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-top: 114px;
      padding-bottom: 114px;
    }
    .title-wrap {
      text-align: center;
      h2 {
        color: #005f9e;
        font-size: 40px;
        line-height: 48px;
        font-weight: 700;
      }
      p {
        color: #55829f;
        font-weight: 400;
        font-size: 24px;
        line-height: 33.6px;
      }
    }
    .tech-box {
      margin-top: 50px;
      width: 100%;
      .tech-list {
        display: flex;
        align-items: center;
        gap: 16px;
        justify-content: space-between;
        width: 100%;
      }
      .tech-item {
        flex: 0 1 100%;
      }
      .tech-anchor {
        flex: 0 1 100%;
        border-radius: 40px;
        background-color: #fff;
        padding: 36px 20px;
        height: 270px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        .img-wrap {
          img {
          }
        }
        .text {
          color: #708daa;
          font-size: 20px;
          line-height: 24px;
          font-weight: 500;
        }
      }
    }
  }
  &.banner {
    padding-top: 66px;
    padding-bottom: 66px;
    .wrap {
      height: 238px;
      display: flex;
      gap: 16px;
      align-items: stretch;
    }
    .leader-wrap {
      position: relative;
      flex: 539px;
      border-radius: 40px;
      overflow: hidden;
      background-color: #897d78;
      a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 59px 60px;
        &::before {
          display: block;
          position: absolute;
          right: 0;
          bottom: 0;
          width: 248px;
          height: 236px;
          background: url(../images/service/main/leader.png) no-repeat right
            bottom;
        }
      }
      h3 {
        width: 236px;
        font-size: 32px;
        line-height: 38.4px;
        font-weight: 700;
        color: #fff;
      }
      p {
        font-size: 18px;
        line-height: 21px;
        font-weight: 400;
        color: #fff;
        margin-top: 20px;
      }
    }
    .performance-wrap {
      flex: 761px;
      border-radius: 40px;
      overflow: hidden;
      background: url(../images/service/main/performance.png) no-repeat center
        center;
      background-size: cover;
      position: relative;
      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: 59px 60px;
      }
      h3 {
        font-size: 32px;
        line-height: 48px;
        font-weight: 700;
        color: #fff;
      }
      .more {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #71eeff;
        font-size: 0;
        line-height: 0;
        position: relative;
        &::before {
          display: block;
          width: 80px;
          height: 80px;
          background: url(../images/service/main/more.svg) no-repeat center
            center;
          background-size: 80px 80px;
        }
      }
    }
  }
  &.notice {
    padding-top: 123px;
    padding-bottom: 93px;
    .tab-wrap {
      .btn-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
      }
      .tab-btn {
        position: relative;
        font-size: 36px;
        line-height: 43.2px;
        font-weight: 700;
        color: #005f9e;
        padding-bottom: 15px;
        opacity: 0.4;
        &.active {
          opacity: 1;
          &::before {
            display: block;
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 4px;
            background-color: #005f9e;
          }
        }
      }
      .con-wrap {
        margin-top: 84px;
      }
      .tab-con {
        display: none;
        position: relative;
        flex-direction: column;
        align-items: center;
        &.active {
          display: flex;
        }
        .board-list {
          width: 100%;
        }
        .board-item {
          position: relative;
          padding: 30px 0 36px;
          & + .board-item::before {
            display: block;
            position: absolute;
            width: 100%;
            height: 1px;
            top: 0;
            left: 0;
            background-color: rgba(44, 123, 187, 0.3);
          }
          .board-anchor {
            display: flex;
            width: 100%;
            opacity: 0.4;
            transition: all 0.2s;
            font-size: 0;
            line-height: 0;
            overflow: hidden;
            max-width: 1316px;
          }
          &:hover .board-anchor {
            opacity: 1;
          }
          .title,
          .date {
            font-size: 24px;
            line-height: 28.8px;
            font-weight: 400;
            color: #002953;
          }
          .title {
            display: block;
            width: calc(100% - 140px);
            padding-right: 20px;
            @include ellipsis;
          }
          .date {
            width: 140px;
            text-align: right;
          }
        }
      }
      .more {
        display: inline-flex;
        margin-top: 48px;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        color: #002953;
        padding: 12px 24px;
        span {
          position: relative;
          &::after {
            display: inline-block;
            font-size: 24px;
            line-height: 28.8px;
            font-weight: 700;
            color: #002953;
            content: "+";
            margin-left: 11px;
          }
        }
      }
    }
  }
}
