@use "./mixin" as *;

@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"),
    url(../fonts/pretendard/Pretendard-Black.subset.woff2) format("woff2"),
    url(../fonts/pretendard/retendard-Black.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"),
    url(../fonts/pretendard/Pretendard-ExtraBold.subset.woff2) format("woff2"),
    url(../fonts/pretendard/retendard-ExtraBold.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"),
    url(../fonts/pretendard/Pretendard-Bold.subset.woff2) format("woff2"),
    url(../fonts/pretendard/retendard-Bold.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"),
    url(../fonts/pretendard/Pretendard-SemiBold.subset.woff2) format("woff2"),
    url(../fonts/pretendard/retendard-SemiBold.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"),
    url(../fonts/pretendard/Pretendard-Medium.subset.woff2) format("woff2"),
    url(../fonts/pretendard/retendard-Medium.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"),
    url(../fonts/pretendard/Pretendard-Regular.subset.woff2) format("woff2"),
    url(../fonts/pretendard/retendard-Regular.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"),
    url(../fonts/pretendard/Pretendard-Light.subset.woff2) format("woff2"),
    url(../fonts/pretendard/retendard-Light.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"),
    url(../fonts/pretendard/Pretendard-ExtraLight.subset.woff2) format("woff2"),
    url(../fonts/pretendard/retendard-ExtraLight.subset.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"),
    url(../fonts/pretendard/Pretendard-Thin.subset.woff2) format("woff2"),
    url(../fonts/pretendard/retendard-Thin.subset.woff) format("woff");
}

:root {
  --c-white: #fff;
  --c-black: #000;
  --c-gray-10: #fafafa;
  --c-gray-20: #eeeeee;
  --c-gray-30: #dddddd;
  --c-gray-40: #bfbfc7;
  --c-gray-50: #a0a2a8;
  --c-gray-60: #70737c;
  --c-gray-70: #27292e;
  --c-brand: #dc0014;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
  box-sizing: border-box;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  box-sizing: border-box;
}
article,
aside,
audio,
blockquote,
body,
canvas,
caption,
dd,
details,
div,
dl,
dt,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
iframe,
legend,
li,
main,
menu,
nav,
ol,
p,
pre,
section,
summary,
table,
tbody,
td,
template,
textarea,
tfoot,
th,
thead,
tr,
ul,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  box-sizing: border-box;
  word-break: break-all;
}
a,
em,
span {
  display: inline-block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
a:visited,
a:focus,
a:active {
  color: #6b7684;
  text-decoration: none;
}
b,
strong {
  font-weight: 600;
}
address,
cite,
dfn,
em,
i {
  font-style: normal;
}
img {
  border: none;
  vertical-align: middle;
}
audio,
img,
video {
  max-width: 100%;
  max-height: 100%;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
switch {
  display: none;
}
figcaption,
figure {
  margin: 0;
  padding: 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 90%;
}
sub,
sup {
  position: relative;
  font-size: 0.9em;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
del {
  color: #aaa !important;
  text-decoration: line-through;
}
label {
  display: inline-block;
  cursor: pointer;
}
iframe {
  display: block;
  max-width: 100%;
}
template {
  display: none;
}
summary {
  display: list-item;
  cursor: pointer;
}
output {
  display: inline-block;
}
ul,
ul > li {
  list-style: none;
}
ol {
  overflow: hidden;
  position: relative;
  counter-reset: number;
}
ol > li {
  counter-increment: number;
}
ol > li:before {
  content: counter(number, decimal) ".";
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
caption {
  overflow: hidden;
  position: relative;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  background: 0 0;
  font-size: 0;
  color: transparent;
  line-height: 0;
  text-indent: 100%;
}
legend {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  background: 0 0;
  font-size: 0;
  color: transparent;
  line-height: 0;
}
fieldset {
  border: none;
  min-width: 0;
}
hr {
  overflow: hidden;
  position: absolute;
  height: 0;
  width: 0;
}
:after,
:before {
  display: none;
  content: "";
}
.clearfix {
  display: block;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.clear {
  clear: both;
}
.hide {
  display: none;
}
.skip {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  background: 0 0;
  font-size: 0 !important;
  color: transparent !important;
  line-height: 0;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 1px solid;
  box-sizing: border-box;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  vertical-align: middle;
}
button,
input,
select {
  display: inline-block;
}
button,
input {
  overflow: visible;
}
input[type="search"],
input[type="text"] {
  border-radius: 0;
  appearance: none;
}
input[type="search"] {
  outline-offset: -2px;
  appearance: none;
}
input[type="search"]::-webkit-search-decoration {
  appearance: none;
}
input[type="file"] {
  border: none;
}
input[type="file"]::-webkit-file-upload-button {
  font: inherit;
  appearance: button;
  border: 1px solid #bbb;
  background: #e0e0e0;
  box-shadow: none;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  border: none;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  overflow: visible;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}
textarea {
  display: block;
  overflow: auto;
  resize: vertical;
}
input[disabled] {
  background-color: #ebebeb;
}
select:disabled {
  background-color: #ebebeb;
}
[hidden] {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .skip,
  caption,
  legend {
    overflow: visible;
    font-size: 3px !important;
  }
}

html,
body {
  font-family: "pretendard", "NotoKr", "Malgun Gothic", "맑은 고딕", Dotum,
    "돋움", Helvetica, AppleSDGothicNeo, sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
  height: 100%;
  letter-spacing: -0.02em;
}

.h1 {
  font-size: 6.4rem;
  line-height: 1.2;
  &.sm {
    font-size: 6rem;
    line-height: 1.2;
  }
  &.xs {
    font-size: 3.8rem;
    line-height: 1.2;
  }
}
h2,
.h2 {
  font-size: 4.8rem;
  line-height: 1.4;
  &.sm {
    font-size: 4.2rem;
    line-height: 1.4;
  }
  &.xs {
    font-size: 3.2rem;
    line-height: 1.4;
  }
}
h3,
.h3 {
  font-size: 4.2rem;
  &.sm {
    font-size: 3.8rem;
    line-height: 1.3;
  }
  &.xs {
    font-size: 2.8rem;
    line-height: 1.3;
  }
}
h4,
.h4 {
  font-size: 2.4rem;
  line-height: 1.5;
  &.xs {
    font-size: 2.2rem;
    line-height: 1.5;
  }
}
h5,
.h5 {
  font-size: 2rem;
  line-height: 1.5;
  &.xs {
    font-size: 1.8rem;
    line-height: 1.5;
  }
}
h6,
.h6 {
  font-size: 1.6rem;
  line-height: 1.8;
  &.xs {
    font-size: 1.5rem;
    line-height: 1.8;
  }
}
p,
.p {
  font-size: 1.6rem;
  line-height: 1.8;

  &.xs {
    font-size: 1.5rem;
    line-height: 1.8;
  }
  &.type2 {
    &.sm {
      font-size: 1.4rem;
      line-height: 1.5;
      letter-spacing: 0;
    }
    &.xs {
      font-size: 1.4rem;
      line-height: 1.5;
    }
  }
}
footer {
  p,
  .p {
    font-size: 1.3rem;
    line-height: 1.5;
    letter-spacing: -0.01em;
    &.xs {
      font-size: 1.2rem;
    }
  }
}

@for $i from 0 through 10 {
  .padding#{$i*4} {
    padding: 0.4rem * $i !important;
  }
  .padding-l-#{$i*4} {
    padding-left: 0.4rem * $i !important;
  }
  .padding-t-#{$i*4} {
    padding-top: 0.4rem * $i !important;
  }
  .padding-b-#{$i*4} {
    padding-bottom: 0.4rem * $i !important;
  }
  .padding-r-#{$i*4} {
    padding-right: 0.4rem * $i !important;
  }
  .margin#{$i*4} {
    margin: 0.4rem * $i !important;
  }
  .margin-l-#{$i*4} {
    margin-left: 0.4rem * $i !important;
  }
  .margin-t-#{$i*4} {
    margin-top: 0.4rem * $i !important;
  }
  .margin-b-#{$i*4} {
    margin-bottom: 0.4rem * $i !important;
  }
  .margin-r-#{$i*4} {
    margin-right: 0.4rem * $i !important;
  }
}

@for $i from 0 through 20 {
  .w#{$i*5}p {
    width: 5% * $i !important;
  }
}
@for $i from 0 through 100 {
  .w#{$i*5} {
    width: 5px * $i !important;
  }
}

//align
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

.underline {
  text-decoration: underline;
}

.wrap {
  width: 1316px;
  margin: 0 auto;
}

/* slick */
.slick-slider {
  position: relative;
}
.slick-list {
  overflow: hidden;
  position: relative;
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
}

.accessibility {
  position: relative;
  overflow: hidden;
  z-index: 3000;
  width: 100%;
}
.accessibility a {
  display: block;
  overflow: hidden;
  z-index: 3000;
  height: 1px;
  width: 1px;
  margin: 0 -1px -1px 0;
  font-size: 0;
  line-height: 0;
  text-align: center;
}
.accessibility a:focus,
.accessibility a:hover,
.accessibility a:active {
  width: auto;
  height: 30px;
  margin: 0;
  padding: 8px 0;
  background: #20262c;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
}
