@use "./_mixin" as *;

/* 공통 */
#contents {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #52535e;
  letter-spacing: -0.02em;
  word-break: keep-all;
}

/* 템플릿 복사 기능*/
[copy-attr="yes"] {
  cursor: pointer;
  transition: 0.2s;
}
[copy-attr="yes"]:hover {
  box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.5);
}

.em-red {
  color: #ff0000;
}
.em-blue {
  color: #0b6dcf;
}
/* 본문제목 */
h3,
h4,
h5,
h6,
.h3,
.h4,
.h5,
.h6 {
  position: relative;
  text-align: left;
  letter-spacing: -0.02em;
  font-weight: 600;
  &:first-child {
    margin-top: 0;
  }
}
h3,
.h3 {
  margin-top: 40px;
  margin-bottom: 21px;
  font-size: 24px;
  line-height: 30px;
  color: #009bfa;
}
h4,
.h4 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 24px;
  color: #333;
}
h5,
.h5 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 26px;
  color: #414a73;
}
h6,
.h6 {
  margin-top: 15px;
  margin-bottom: 11px;
  font-size: 16px;
  line-height: 24px;
  color: #888da6;
}

.subtitle {
  font-size: 17px;
  color: #888da6;
  margin-left: 10px;
}

.h0 {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 16px;
  letter-spacing: -0.02em;
}
.h0:before,
.h0:after {
  display: none;
}

/* 링크 */
/*컨텐츠 내 링크*/
.blank,
.down {
  display: inline-block;
  position: relative;
}
.blank {
  padding-right: 21px;
  padding-bottom: 4px;
  font-size: 16px;
  color: #222226;
}
.blank:before {
  display: block;
  position: absolute;
  top: 5px;
  right: 0;
  width: 14px;
  height: 14px;
}
.blank:after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 22px);
  height: 1px;
}
.blank:link,
.blank:visited,
.blank:active {
  color: #222226;
  text-decoration: none;
}
.down {
  padding-bottom: 4px;
  font-size: 16px;
  color: #6b7684;
  text-decoration: underline;
  &::before {
    display: inline-flex;
    position: relative;
    top: 4px;
    margin-right: 6px;
    width: 20px;
    height: 20px;
    background: url(../images/common/file-gray.svg) no-repeat center center;
    background-size: 18px 18px;
  }
}
.down:link,
.down:visited,
.down:active {
  color: #6b7684;
}
/*버튼*/
.btn + .btn {
  margin-left: 0;
}
.btn {
  position: relative;
  display: inline-block;
  margin: 2px;
  min-width: 43px;
  height: auto;
  line-height: 19px;
  min-height: 36px;
  padding: 8px 10px;
  border: 1px solid #0b6dcf;
  border-radius: 4px;
  background: #0b6dcf;
  color: #fff;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  box-sizing: border-box;
  text-align: center;
  transition: 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  white-space: nowrap;
}
a.btn {
  &:visited,
  &:focus,
  &:active,
  &:hover {
    color: #fff;
  }
}

.btn:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.btn.small {
  font-size: 13px;
  font-weight: 400;
  line-height: 15.51px;
  padding: 3px 10px;
  min-height: 24px;
}
.btn.large {
  font-size: 17px;
  font-weight: 700;
  line-height: 25px;
  border-radius: 10px;
  padding: 8px 10px;
  min-height: 43px;
  min-width: 176px;
}

.btn.disabl {
  color: #888da6;
  border: 1px solid #e5e8eb;
}
.btn.disabl:hover {
  color: #888da6;
  border: 1px solid #c5c9d6;
}

.btn.type2 {
  background-color: #333d4b;
  color: #fff;
  border-color: #333d4b;
}
.btn.type3 {
  background-color: #8b95a1;
  color: #fff;
  border-color: #8b95a1;
}
.btn.type4 {
  background-color: #ee425e;
  color: #fff;
  border-color: #ee425e;
}
.btn.type5 {
  background-color: #e5e8eb;
  color: #4e5968;
  border-color: #ebecf2;
  &:visited,
  &:focus,
  &:hover,
  &:active {
    background-color: #e5e8eb;
    color: #4e5968;
  }
}

/*아이콘버튼*/
.icon-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  font-size: 0;
  line-height: 0;
  &:hover {
    background-color: transparent;
  }
  &.delete-btn::before {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../images/common/delete-icon.svg) no-repeat center center;
    background-size: 20px 20px;
  }
}

/*버튼 활성화*/
.btn:hover {
  border: 1px solid #0b6dcf;
  text-decoration: none;
}
.btn.type2:hover {
  background-color: #333d4b;
  border-color: #333d4b;
}
.btn.type3:hover {
  background-color: #0075d4;
  border-color: #0075d4;
}
.btn.type4:hover {
  background-color: #c81c38;
  border-color: #c81c38;
}
.btn.type5:hover {
  background-color: #e0e2ed;
  border-color: #e0e2ed;
}

/* 주의사항 */
.warning {
  position: relative;
  padding-left: 25px;
  font-size: 15px;
  color: #52535e;
}
.warning:before {
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  background: url(../images/common/warning.svg) no-repeat center center;
  background-size: 16px 16px;
}
.warning.type2:before {
}

.warning-area {
  margin: 5px 0;
}
.warning-area .warning {
  font-size: 16px;
  color: #161270;
  font-weight: 600;
}
.warning-area .warning.type2 {
  color: #ee425e;
}
.warning-area .text {
  margin-top: 3px;
  padding-left: 25px;
  font-size: 15px;
  color: #52535e;
}

/* 목록(List) */
ul.bu,
ul.num,
ol.num {
  margin: 4px 0;
}
ul.bu li,
p.blt {
  position: relative;
  margin: 0;
  padding: 0 0 0 15px;
  list-style: none;
  font-size: 16px;
  color: #52535e;
}
ul.bu > li {
  margin-bottom: 6px;
}
ul.bu.half > li {
  display: inline-block;
  width: calc(50% - 10px);
}
ul.bu > li:last-child {
  padding-bottom: 0;
}
ul.bu li:before,
p.blt:before {
  display: block;
  position: absolute;
  top: 9px;
  left: 0;
  width: 5px;
  height: 5px;
  content: "";
}
ul.bu > li:before {
  background-color: #888da6;
  border-radius: 50%;
  content: "";
}
p.blt:before {
  top: 10px;
  background-color: #888da6;
  border-radius: 50%;
  content: "";
}
ul.bu ul,
.num ul {
  padding-top: 3px;
}
ul.bu > li > ul > li,
.num > li > ul > li {
  padding-left: 17px;
  line-height: 26px;
}
ul.bu > li > ul > li:before,
.num > li > ul > li:before {
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 6px;
  height: 6px;
  background-color: #888da6;
  border-radius: 50%;
  content: "";
}
ul.bu > li > ul.num > li:before {
  display: none;
}
ul.bu > li > ul.num > li {
  padding-left: 21px;
}
ul.bu ul ul,
.num ul ul {
  padding-top: 4px;
}
ul.bu > li > ul > li > ul > li,
.num > li > ul > li > ul > li {
  padding-left: 17px;
  line-height: 24px;
  font-size: 15px;
  color: #8d8e96;
}
ul.bu > li > ul > li > ul > li:before,
.num > li > ul > li > ul > li:before {
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 7px;
  height: 2px;
  background-color: #888da6;
  content: "";
}
.num li {
  position: relative;
  padding: 0 0 0 23px;
  font-size: 16px;
  line-height: 24px;
  color: #52535e;
}
.num > li {
  padding-bottom: 6px;
}
.num > li > .item {
  display: block;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #888da6;
  font-size: 11px;
  font-weight: 600;
  line-height: 15px;
  color: #888da6;
  text-align: center;
  box-sizing: content-box;
  content: counter(number);
}
ol.num li {
  padding-left: 0;
}
ol.num li .count {
  display: inline-block;
  position: relative;
  top: -1px;
  left: 0;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border-radius: 50%;
  border: 1px solid #888da6;
  font-size: 11px;
  font-weight: 600;
  line-height: 15px;
  color: #888da6;
  text-align: center;
}
ol.num > li > ul {
  padding-left: 20px;
}
/* bu.type2 */
ul.bu.type2 > li {
  padding-left: 17px;
}
ul.bu.type2 > li:before {
  display: block;
  position: absolute;
  top: 8px;
  left: 0;
  width: 6px;
  height: 6px;
  background-color: #888da6;
  border: none;
  border-radius: 50%;
  content: "";
}
ul.bu.type2 > li > ul > li:before {
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 7px;
  height: 2px;
  background-color: #888da6;
  border-radius: 0;
  content: "";
}
/* bu.type3 */
ul.bu.type3 > li {
  padding-left: 17px;
  margin-bottom: 0;
}
ul.bu.type3 > li:before {
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 7px;
  height: 2px;
  background-color: #888da6;
  border: none;
  border-radius: inherit;
  content: "";
}

/* 제목과 내용이 있는 ul */
ul.bu li .title,
.num li .title {
  font-weight: 400;
  min-width: 90px;
  color: #222226;
  margin-right: 15px;
  vertical-align: top;
}
ul.bu li .text,
.num li .text {
  width: calc(100% - 150px);
}

p.blt.type2 {
  padding-left: 17px;
}
p.blt.type2:before {
  display: block;
  position: absolute;
  top: 9px;
  left: 0;
  width: 6px;
  height: 6px;
  background-color: #888da6;
  border-radius: 50%;
  border: none;
}
p.blt.type3 {
  padding-left: 17px;
}
p.blt.type3:before {
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 7px;
  height: 2px;
  background-color: #888da6;
  border-radius: 100%;
  border: none;
}

/*탭메뉴*/
.tab-menu {
  margin-bottom: 60px;
  position: relative;
  font-size: 0;
  line-height: 24px;
}
.tab-menu .tab-select {
  display: none;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
.tab-menu .tab-list {
  display: flex;
  width: 100%;
  gap: 4px;
  position: relative;
}
// .tab-menu .tab-list:before {
//   z-index: -1;
//   display: block;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: calc(100% - 2px);
//   height: calc(100% - 2px);
//   background-color: #f4f5f9;
//   border: 1px solid #c5c9d6;
//   border-radius: 3px;
// }
.tab-menu .tab-item {
  display: inline-flex;
  position: relative;
  min-width: 92px;
  margin: 0;
  text-align: center;
}
.tab-menu .tab-item.active {
  z-index: 1;
}
.tab-menu .tab-anchor,
.tab-menu .tab-button,
.tab-menu .tab-all {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 92px;
  height: 45px;
  padding: 8px 22px;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #4e5968;
  background-color: #e5e8eb;
  border: 1px solid #e5e8eb;
  border-radius: 4px;
  transition: all 0.2s;
}
.tab-menu .tab-item:hover .tab-anchor,
.tab-menu .tab-item:hover .tab-button,
.tab-menu .tab-item:hover .tab-all {
  background-color: rgba(11, 109, 207, 0.5);
  border-color: transparent;
  color: #fff;
}
.tab-menu .tab-anchor:after,
.tab-menu .tab-button:after,
.tab-menu .tab-all:after {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}
.tab-menu .tab-item.active .tab-anchor,
.tab-menu .tab-item.active .tab-button,
.tab-menu .tab-item.active .tab-all {
  color: #fff;
  background-color: #0b6dcf;
  border-color: transparent;
  background-size: cover;
}
.tab-menu .tab-content {
  display: none;
  margin-top: 20px;
}
.tab-menu .tab-content.active {
  display: block;
  font-size: 16px;
}

/*cms tab*/
/* 6차 탭메뉴 */
.tab-menu .tab-item .tab-depth6 {
  display: none;
}
.tab-menu .tab-item.active .tab-depth6 {
  display: block;
}
.tab-menu .tab-depth6 {
  position: relative;
  z-index: 10;
  width: calc(400% - 4px);
  margin-top: -1px;
  margin-left: 1px;
  padding: 17px 30px 9px;
  border: 1px solid #414a73;
  border-radius: 3px;
  background-color: #fff;
  text-align: left;
}
.tab-menu .tab-item:nth-child(4n-2) .tab-depth6 {
  left: calc(-100% + 1px);
}
.tab-menu .tab-item:nth-child(4n-1) .tab-depth6 {
  left: calc(-200% + 2px);
}
.tab-menu .tab-item:nth-child(4n) .tab-depth6 {
  left: calc(-300% + 3px);
}

.tab-menu .tab-depth6 .tab-depth6-item {
  display: inline-block;
  position: relative;
  padding-left: 13px;
  padding-right: 11px;
}
.tab-menu .tab-depth6 .tab-depth6-item:before {
  display: block;
  position: absolute;
  top: 11px;
  left: 0;
  background-color: #caceda;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}
.tab-menu .tab-depth6 .tab-depth6-item.active:before {
  background-color: #151b3d;
}
.tab-menu .tab-depth6 .tab-depth6-item a {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: #414a73;
}
.tab-menu .tab-depth6 .tab-depth6-item.active a {
  color: #151b3d;
}

.tab-menu.type2.depth6 {
}

@media all and (max-width: 640px) {
  .tab-menu {
    margin: 30px 0;
  }
  .tab-menu .tab-select {
    display: block;
    position: relative;
    width: 100%;
    border: 2px solid #4a506b;
    text-align: left;
    border-radius: 3px;
  }
  .tab-menu .tab-select:before {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 12px;
    width: 0;
    height: 0;
    margin-top: auto;
    margin-bottom: auto;
    border-top: 6px solid #4a506b;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }
  .tab-menu .tab-select span {
    display: block;
    padding: 10px 0;
    padding-left: 15px;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: -0.02em;
  }
  .tab-menu .tab-panel {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background-color: #fff;
  }
  .tab-menu .tab-panel .tab-list {
    padding: 8px 17px 13px;
    border-bottom: 1px solid #414a73;
  }
  .tab-menu .tab-panel .tab-list:before {
    z-index: 1;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0;
  }
  .tab-menu .tab-item {
    z-index: 10;
    display: block;
    position: relative;
    width: 100%;
    margin-top: 6px;
    padding-left: 10px;
  }
  .tab-menu .tab-item:before {
    display: block;
    position: absolute;
    top: 8px;
    left: 0;
    width: 4px;
    height: 4px;
    background-color: #898d9f;
    border-radius: 4px;
    content: "";
  }
  .tab-menu .tab-item:first-child {
    margin-top: 0;
  }
  .tab-menu .tab-anchor,
  .tab-menu .tab-button,
  .tab-menu .tab-all {
    height: auto;
    padding: 0;
    font-size: 15px;
    line-height: 22px;
    border: none;
    border-radius: 0;
    text-align: left;
  }
  .tab-menu .tab-item.active .tab-anchor,
  .tab-menu .tab-item.active .tab-button,
  .tab-menu .tab-item.active .tab-all {
    background: none;
    color: #414a73;
    text-align: left;
  }

  .tab-menu.type1 {
    margin-bottom: 0;
  }
  .tab-menu.type1 .tab-item.active .tab-depth6 {
    display: none;
  }
  .tab-menu.type2.depth6 {
    display: block;
    margin-top: 0;
  }
  .tab-menu.type2.depth6 .tab-select {
    border: 0;
    border-bottom: 2px dotted #414a73;
  }
  .tab-menu.type2 .tab-panel {
    top: 38px;
  }
  .tab-menu.type2 .tab-panel .tab-list:before {
    border: 1px solid transparent;
  }
}

/*================= 테이블 =======================*/
.table-unit {
  position: relative;
  float: right;
  margin-bottom: 15px;
  padding-left: 25px;
  font-size: 15px;
  color: #52535e;
  text-align: right;
}
.table-wrap {
  &.write {
    .table {
      th,
      td {
        text-align: left;
      }
    }
  }
}
.table {
  position: relative;
  width: 100%;
  margin: 17px 0 23px;
  font-size: 16px;
  .input {
    &.date {
    }
    input[type="text"],
    input[type="password"],
    input[type="number"] {
      width: 200px;
    }
  }
  th,
  td {
    padding: 11px 10px;
    border: 1px solid #e5e8eb;
    vertical-align: middle;
    text-align: center;
    &:first-child {
      border-left: none;
    }
    .first {
      border-left: 1px solid #ebecf2;
    }
    .input {
      vertical-align: middle;
    }
  }
  th {
    color: #fff;
  }
  td {
    &:last-child {
      border-right: none;
      border-left: 1px solid #ebecf2;
    }
    img {
      vertical-align: middle;
    }
    ul,
    li,
    .blt {
      text-align: left;
    }
    ul.bu {
      margin: 4px 0;
      padding: 0;
    }
    .num {
      margin: 0;
      padding: 0;
    }
  }
  thead {
    tr th {
      border-top: 2px solid #414a73;
      border-bottom: 1px solid #c5c9d6;
      border-right: 1px solid #414a73;
      background-color: #4e5968;
      font-weight: 600;
      border: 1px solid #414a73;
    }
  }
  tbody,
  tfoot {
    th {
      background-color: #f2f4f6;
      font-weight: 400;
      color: #6b7684;
    }
  }
  tfoot {
    th,
    td {
      background-color: #f4f5f9;
    }
  }
  tbody {
    &.align-center {
      th,
      td {
        text-align: center;
      }
    }
    th {
      font-weight: 400;
      text-align: left;
    }
    td {
      background-color: #fff;
      color: #6b7684;
    }
    .subject {
      text-align: left;
      a {
        text-decoration: underline;
      }
    }
    .text-left {
      text-align: left;
    }
  }

  /* 세로형 테이블 1*/
  &.type1 tbody tr:first-child th,
  &.type1 tbody tr:first-child td {
    border-top: 1px solid #c5c9d6;
  }
}

/* 세로형 테이블 1*/
.table.type1 tbody tr:first-child th,
.table.type1 tbody tr:first-child td {
  border-top: 1px solid #c5c9d6;
}
.table.type1 tbody tr:last-child th,
.table.type1 tbody tr:last-child td {
  border-bottom: 1px solid #c5c9d6;
}
.table.type1 tbody th {
  border: 1px solid #e7e8ec;
  border-left: 3px solid #888da6;
  border-right: none;
  padding: 22px 27px;
  font-weight: 600;
  background-color: #f9fafc;
  text-align: left;
}
.table.type1 tbody td {
  border: 1px solid #e7e8ec;
  border-left: none;
  padding: 22px 30px;
  text-align: left;
  color: #52535e;
}
/* 세로형 테이블 2*/
.table.type2 tbody tr:first-child th,
.table.type2 tbody tr:first-child td {
  border-top: 2px solid #414a73;
}
.table.type2 tbody th {
  border: 1px solid #e7e8ec;
  border-right-color: #c5c9d6;
  font-weight: 600;
  background-color: #f4f5f9;
  text-align: center;
  border-left: none;
}
.table.type2 tbody td {
  border: 1px solid #e7e8ec;
  border-right: none;
  color: #52535e;
  text-align: left;
}

/* thead에 tr이 두 개 이상일 때 */
.table.tr-over {
}
// .table.tr-over thead tr th {
//   background-color: #f9fafc;
// }
// .table.tr-over thead tr:first-child th {
//   background-color: #4e5968;
//   border-bottom-color: #e7e8ec;
//   border-right: 1px solid #191f28;
// }
// .table.tr-over thead tr th:last-child {
//   border-right: none;
// }

/* 스크롤 테이블 */
.table-scroll {
  width: 100%;
  margin: 25px 0 10px;
}
.table-scroll table {
  margin: 0;
}
.table-scroll:before,
.table-scroll-acitve:before {
  display: none;
}
.table-scroll .scroll-notice {
  display: none;
}
@media all and (max-width: 800px) {
  .table-scroll {
    position: relative;
    max-width: 100%;
    overflow-x: auto;
  }
  .table-scroll-acitve.table-scroll:before {
    display: none;
  }
  .table-scroll .scroll-notice {
    display: block;
  }
  .table-scroll table {
    min-width: 800px;
  }
}
@media all and (max-width: 640px) {
  .table {
    font-size: 14px;
  }
  .table-unit {
    padding-left: 20px;
    font-size: 13px;
    line-height: 15px;
  }
  .table .bu,
  .table .num,
  .table .dl,
  .table .dl2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .table thead th {
    padding: 10px 5px;
    border: 1px solid #414a73;
  }
  .table tbody th,
  .table tbody td,
  .table tfoot th,
  .table tfoot td {
    padding: 10px 5px;
  }
  .table tbody td,
  .table tfoot td {
    font-size: 14px;
  }
  .table.tr-over colgroup + thead tr:first-child th {
    font-size: 14px;
  }
  .table.tr-over colgroup + thead tr th {
    font-size: 14px;
  }

  /* 반응형 테이블 */
  table.table.responsive {
    border-top: #a6a6a6 solid 1px;
  }
  table.table.responsive thead {
    display: none;
  }
  table.table.responsive colgroup {
    display: none;
  }
  table.table.responsive tbody tr {
    position: relative;
    display: block;
    padding: 5px 4px;
    border-bottom: 1px solid #d9d9d9;
  }
  table.table.responsive tbody tr:after {
    display: block;
    clear: both;
    content: ".";
    visibility: hidden;
    height: 0;
    line-height: 0;
  }
  table.table.responsive tbody td {
    display: block;
    float: left;
    width: 100%;
    padding: 4px 3%;
    border: none;
    text-align: left !important;
    box-sizing: border-box;
    background-color: transparent;
  }
  table.table.responsive tbody th {
    float: left;
    width: 100%;
    padding: 4px 3%;
    color: #555;
    text-align: left;
    vertical-align: middle;
    background-color: transparent;
    border: none;
  }
  table.table.responsive tbody tr:first-child td,
  table.table.responsive tbody tr:first-child th {
    border-top: none;
  }
  table.table.responsive tbody th:before,
  table.table.responsive tbody td:before {
    display: inline;
    content: attr(data-content) " : ";
  } /* theadì˜ ë‚´ìš©ì„ tbodyì˜ th, tdì— ê°ê° ì‚½ìž… */
  table.table.responsive tfoot tr {
    position: relative;
    display: block;
    border-bottom: 1px solid #d9d9d9;
  }
  table.table.responsive tfoot tr:after {
    display: block;
    clear: both;
    content: ".";
    visibility: hidden;
    height: 0;
  }
  table.table.responsive tfoot tr:nth-child(odd) {
    background: #f8f8f8;
  }
  table.table.responsive tfoot td {
    display: block;
    padding: 4px 3%;
    border: none;
    text-align: left;
    box-sizing: border-box;
    background-color: transparent;
  }
  table.table.responsive tfoot th {
    padding: 4px 3%;
    text-align: left;
    vertical-align: middle;
    background-color: transparent;
    border: none;
  }
  table.table.responsive tfoot tr:first-child td,
  table.table.responsive tfoot tr:first-child th {
    border-top: none;
  }
  table.table.responsive tfoot th:before,
  table.table.responsive tfoot td:before {
    display: inline;
    content: attr(data-content) " : ";
  } /* theadì˜ ë‚´ìš©ì„ tbodyì˜ th, tdì— ê°ê° ì‚½ìž… */
  table.table.responsive.type2 tbody th:before,
  table.table.responsive.type2 tbody td:before {
    display: none;
  }
  table.table.responsive.type2 tfoot th:before,
  table.table.responsive.type2 tfoot td:before {
    display: none;
  }
}
/*================= 테이블 끝 =======================*/

/* 선, 박스 */
.line {
  display: block;
  margin: 10px 0;
  border-bottom: 1px solid #ccc;
}
.dot {
  display: block;
  margin: 10px 0;
  border-bottom: 1px dotted #ccc;
}
.dash {
  display: block;
  margin: 10px 0;
  border-bottom: 1px dashed #ccc;
}

/* 스타일 셀렉트 */
.select-box {
  position: relative;
  z-index: 10;
  width: 180px;
}
.select-box .search-select {
  display: block;
  position: relative;
  width: 180px;
  height: 36px;
  padding: 4px 35px 4px 8px;
  border: 1px solid #c5c9d6;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 400;
  color: #414a73;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
}
.select-box.active .search-select {
  border-color: #414a73;
}
.select-box .search-select:before {
  display: block;
  position: absolute;
  top: 17px;
  right: 15px;
  width: 11px;
  height: 7px;
  content: "";
  transition: all 0.3s;
}
.select-box.active .search-select:before {
  transform: rotate(180deg);
}
.select-box .search-list {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #c5c9d6;
  border-top: none;
  border-radius: 3px;
}
.select-box .search-list ul {
}
.select-box .search-list ul li {
  font-size: 16px;
  color: #888da6;
}
.select-box .search-list ul li:hover {
  background-color: #f4f5f9;
  color: #414a73;
}

.select-box .search-list ul li .select-anchor {
  padding: 8px 15px;
  width: 100%;
  text-align: left;
}

/*박스*/
.box.basic {
  margin-bottom: 20px;
  padding: 0;
  border: 10px solid #ebecf2;
  border-radius: 0;
}
.box.basic:before {
  z-index: 1;
  display: block;
  position: absolute;
  top: 0;
  left: -10px;
  width: 190px;
  height: 110px;
}
.box.basic.n2:before {
}
.box.basic.n3:before {
}
.box.basic:after {
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  width: 190px;
  height: calc(100% + 10px);
  background-color: #fff;
}
.box.basic .box-wrap {
  padding: 30px 40px 40px 180px;
  background: #fff;
}
#contents .box.basic .box-title {
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  color: #161270;
}
.box.basic .box-text {
  margin-top: 15px;
}
.box.basic .box-text p {
  margin-bottom: 13px;
}
.box.basic .box-text .warning {
  margin-bottom: 18px;
}

.box-icon-list li {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  text-align: center;
}

/*박스*/
.box {
  position: relative;
  margin: 0 0 20px;
  padding: 32px 40px;
  border: 1px solid #c5c9d6;
  border-radius: 3px;
  background-color: #fff;
}
.box .box-title {
  margin: 2px 0 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #414a73;
}
.box .box-text {
  font-size: 16px;
  color: #52535e;
}
.box.type3 {
  background-color: #f8f9fb;
}
.box.bg {
  background-color: #f8f9fb;
  border: none;
}

/*게시판박스*/
.board-box {
  position: relative;
  margin: 0 0 20px;
  padding: 35px 40px 30px 140px;
  border: 1px solid #c5c9d6;
  border-radius: 3px;
  background-color: #fff;
}
.board-box:before {
  display: block;
  position: absolute;
  top: 30px;
  left: 30px;
  width: 80px;
  height: 80px;
}
.board-box .box-title {
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #414a73;
}
.board-box .box-text {
  font-size: 16px;
  color: #52535e;
}
.board-box ul.bu {
  margin: 20px 0;
}
.board-box ul.bu > li {
  margin-bottom: 2px;
}

/*아이콘 포함 박스*/
.box.icon-box-list {
  overflow: hidden;
  margin: 20px 0;
  padding: 25px 20px 15px;
  text-align: center;
  font-size: 0;
}
.box.icon-box-list .box-item {
  float: left;
  position: relative;
  width: 25%;
  padding: 75px 20px 20px;
  vertical-align: top;
}
.box.icon-box-list .box-item:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.box.icon-box-list .box-item:after {
  display: block;
  position: absolute;
  top: 24px;
  right: 0;
  width: 1px;
  height: calc(100% - 46px);
}
.box.icon-box-list .box-item:last-child:after {
  display: none;
}
.box.icon-box-list .box-item:nth-child(4n):after {
  display: none;
}
.box.icon-box-list .box-item .box-tit {
  margin-bottom: 8px;
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
  color: #414a73;
}
.box.icon-box-list .box-item .box-txt {
  font-size: 15px;
  line-height: 22px;
  color: #8d8e96;
  word-break: keep-all;
}

/*col-box*/
.col-box {
  overflow: hidden;
  margin-top: 20px;
}
.col-box .col-item {
  float: left;
  position: relative;
  width: calc((99.99% - 30px) / 3);
  margin: 0 15px 15px 0;
  padding: 23px 20px 35px;
  vertical-align: top;
  text-align: center;
  font-size: 0;
  border: 1px solid #c5c9d6;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.1s;
}
.col-box .col-item:last-child {
  margin-right: 0;
}
.col-box.col3 .col-item:nth-child(3n) {
  margin-right: 0;
}
.col-box .col-item .title {
  position: relative;
  margin-bottom: 8px;
  padding-top: 78px;
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
  color: #414a73;
}
.col-box .col-item .title:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.col-box .col-item .text {
  font-size: 15px;
  line-height: 22px;
  color: #8d8e96;
  word-break: keep-all;
}
.col-box .col-item.even {
  background-color: #f8f9fb;
}
.col-box .col-item.even .title:before {
}

/*안내박스*/
.guide-box {
  position: relative;
  margin: 10px 0;
  border-radius: 3px;
  padding: 20px 20px 20px;
  background-color: #f6f7fa;
}
.guide-box .top-tit {
  position: absolute;
  top: -15px;
  left: 40px;
  padding: 4px 28px 4px 14px;
  background-color: #414a73;
  border-radius: 30px;
}
.guide-box .top-tit span {
  position: relative;
  padding-left: 27px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}
.guide-box .top-tit span:before {
  display: block;
  position: absolute;
  left: 0;
  top: 4px;
  width: 14px;
  height: 15px;
}
.guide-box .cont ul.bu {
  margin: 15px 0 0;
}
.guide-box .cont ul.bu li {
  padding-bottom: 0;
  line-height: 26px;
}
.guide-box .cont ul.bu li:before {
  top: 10px;
  width: 6px;
  height: 6px;
  border: none;
  background-color: #888da6;
}

/*콘텐츠 강조박스*/
.emphasis {
  display: inline-block;
  width: 100%;
  margin-right: 50px;
  font-size: 0;
  vertical-align: top;
}
.emphasis:last-child {
  margin-right: 0;
}
.emphasis:after {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.emphasis .title {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.emphasis .title i {
  position: absolute;
  top: 5px;
  left: 0;
  font-size: 20px;
  line-height: 20px;
  color: #414a73;
}
.emphasis .title span {
  display: block;
  position: relative;
  padding-left: 30px;
  padding-right: 29px;
  font-size: 17px;
  font-weight: 600;
  line-height: 27px;
  color: #414a73;
  box-sizing: border-box;
}
.emphasis .title span:after {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
}
.emphasis .cont-box {
  display: inline-block;
  position: relative;
  width: calc(100% - 170px);
  vertical-align: middle;
}
.emphasis .cont {
  float: left;
  margin-left: 30px;
  font-size: 16px;
  line-height: 27px;
  color: #52535e;
  word-break: keep-all;
}
.emphasis .cont + .emphasis .cont {
  margin-left: 30px;
}

/*스텝박스*/
.step {
  margin: 20px 0;
  border-radius: 3px;
  background-color: #f6f7fa;
  font-size: 0;
}
.step .step-list {
  padding: 15px 40px;
}
.step .step-item {
  position: relative;
  display: inline-block;
  width: calc(25% - 30px);
  margin: 15px 40px 15px 0;
  padding: 27px 2%;
  background-color: #fff;
  text-align: center;
  border-radius: 3px;
  vertical-align: top;
}
.step .step-item:before {
  display: block;
  position: absolute;
  top: calc(50% - 6px);
  right: -27px;
  left: auto;
  width: 13px;
  height: 19px;
}
.step .step-item:nth-child(4n) {
  margin-right: 0;
}
.step .step-item:last-child:before {
  display: none;
}
.step .step-item:last-child {
  background-color: #414a73;
}
.step .step-item:last-child .tit {
  color: #fff;
}
.step .step-item:last-child .txt {
  color: #c5c9d6;
}
.step .step-item .tit {
  font-size: 16px;
  font-weight: 600;
  color: #414a73;
  margin-bottom: 2px;
  word-break: keep-all;
}
.step .step-item .txt {
  font-size: 15px;
  color: #8d8e96;
  line-height: 22px;
  word-break: keep-all;
}
.step .step-content {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: middle;
  font-size: 16px;
  line-height: 24px;
}

.step.row3 .step-item {
  width: calc(33.3% - 27px);
}
.step.row3 .step-item:nth-child(3n) {
  margin-right: 0;
}
.step.row3 .step-item:nth-child(4n) {
  margin-right: 40px;
}

@media all and (max-width: 800px) {
  .step .step-item {
    width: calc(33.3% - 30px);
  }
  .step .step-item:nth-child(3n) {
    margin-right: 0;
  }
  .step .step-item:nth-child(4n) {
    margin-right: 40px;
  }
}
@media all and (max-width: 640px) {
  .step {
    margin: 10px 0;
  }
  .step .step-list {
    padding: 20px;
  }
  .step .step-item {
    width: 100%;
    height: auto !important;
    margin-right: 0;
    padding: 3%;
  }
  .step .step-item:before {
    right: auto;
    bottom: -25px;
    left: calc(50% - 9px);
    top: auto;
    transform: rotate(90deg);
  }

  .step.row3 .step-item {
    width: 100%;
    margin-right: 0;
    padding: 3%;
  }
}

/*아이콘포함 스텝박스*/
.step.type2 .step-item {
  padding: 20px 2% 27px 2%;
}
.step.type2 .step-item .tit {
  position: relative;
  padding-top: 66px;
}
.step.type2 .step-item .tit:before {
  display: block;
  position: absolute;
  top: 0;
  left: calc(50% - 27px);
  width: 55px;
  height: 55px;
}
.step.type2 .step-item:last-child .tit:before {
}
/*세로형 스텝박스*/
.step.type3 .step-wrap {
  padding: 30px;
}
.step.type3 .step-list {
  padding: 0;
}
.step.type3 .step-box {
  display: table;
  width: 100%;
  margin-bottom: 28px;
}
.step.type3 .step-box:last-child {
  margin-bottom: 0;
}
.step.type3 .step-box .step-item {
  display: table-cell;
  position: relative;
  width: 205px;
  vertical-align: middle;
}
.step.type3 .step-box:last-child .step-item {
  background-color: #414a73;
  margin-bottom: 0;
}
.step.type3 .step-box .step-item:before {
  display: block;
  position: absolute;
  top: auto;
  right: auto;
  bottom: -18px;
  left: calc(50% - 7px);
  width: 14px;
  height: 9px;
}
.step.type3 .step-box:last-child .step-item:before {
  display: none;
}
.step.type3 .step-box .step-process {
  display: table-cell;
  position: relative;
  padding-left: 32px;
  vertical-align: middle;
}
.step.type3 .step-box .step-process:before {
  display: block;
  position: absolute;
  bottom: -14px;
  left: 32px;
  background-color: #ebecf2;
  width: calc(100% - 32px);
  height: 1px;
}
.step.type3 .step-box:last-child .step-process:before {
  display: none;
}
.step.type3 .step-box .step-item .title {
  font-size: 16px;
  font-weight: 600;
  color: #414a73;
  line-height: 24px;
  word-break: keep-all;
}
.step.type3 .step-box:last-child .step-item .title {
  color: #fff;
}
.step.type3 .step-box .step-process .text {
  font-size: 15px;
  color: #8d8e96;
  line-height: 24px;
}
.step.type3 .step-box .step-process ul.bu li {
  font-size: 15px;
  color: #8d8e96;
  padding: 0 0 0 17px;
  line-height: 24px;
}
.step.type3 .step-box .step-process ul.bu li:before {
  top: 11px;
  background-color: #888da6;
  border: none;
  border-radius: 0;
  width: 7px;
  height: 2px;
}

@media all and (max-width: 640px) {
  .step.type3 .step-wrap {
    padding: 4%;
  }
  .step.type3 .step-box {
    display: block;
  }
  .step.type3 .step-box .step-item {
    display: block;
    width: 100%;
  }
  .step.type3 .step-box .step-process {
    display: block;
    width: 100%;
    padding-left: 5px;
  }
  .step.type3 .step-box .step-item:before {
    display: none;
  }
  .step.type3 .step-box:last-child .step-item {
    margin-bottom: 15px;
  }
}

/*레이어팝업*/
html.popup-open body {
  overflow: hidden;
}
.popup {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
  text-align: center;
  .dim {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    line-height: 0;
  }
}
.popup.active {
  display: flex;
}
.popup .popup-wrap {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 860px;
  height: auto;
  min-height: 420px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: #fff;
  text-align: left;
  vertical-align: middle;
  max-width: 90vw;
  max-height: 90vh;
  padding: 34px 18px 34px 38px;
}
.popup.alert-pop {
  .sub-title {
    display: none;
  }
  .popup-wrap {
    width: 500px;
    min-height: 0;
  }
  .pop-inner {
    min-height: 0;
  }
  .popup-footer {
    margin-top: 20px;
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    .btn {
      min-width: 100px;
    }
  }
  .popup-title {
    color: #000;
  }
}
.popup.following-pop {
  position: static;
  background-color: transparent;
  .dim {
    position: fixed;
    width: 100%;
    height: 100%;
  }
  .popup-wrap {
    position: absolute;
    width: auto;
    height: auto;
    min-height: 0;
    border-radius: 10px;
    padding: 20px 24px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    .popup-title-wrap {
      display: none;
    }
  }
  .pop-inner {
    min-height: auto;
    overflow-x: hidden;
    > .popup-close {
      display: none;
    }
  }
  label,
  p {
    white-space: nowrap;
  }
}
.popup .pop-inner {
  min-height: calc(500px - 200px);
  max-height: calc(90vh - 70px);
  overflow: auto;
  padding-right: 20px;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ddd;
  }
  &::-webkit-scrollbar-track {
    background-color: #f2f2f2;
  }
}
.popup .popup-title-wrap {
  margin: 12px 0 40px;
  padding-bottom: 16px;
  border-bottom: 3px solid #37516d;
  padding-right: 34px;
}
.popup .sub-title {
  font-size: 18px;
  line-height: 21.48px;
  font-weight: 400;
  color: #8b95a1;
  strong {
    font-weight: 700;
  }
}
.popup .popup-title {
  font-size: 28px;
  line-height: 33.41px;
  color: #0b6dcf;
}

.popup-footer {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  button {
    flex: 1;
  }
}
.popup .popup-con {
  .input input {
    height: 32px;
    min-width: 155px;
    border-radius: 8px;
    border: 1px solid #d1d6db;
    margin-top: 0;
    margin-bottom: 0;
  }
  .input label {
    line-height: 32px;
    & + input {
      margin-left: 4px;
    }
  }
  .input input {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
  .input input[type="radio"],
  .input input[type="checkbox"] {
    & + label {
      line-height: 32px;
      font-size: 14px;
      color: #333d4b;
      padding-right: 0;
    }
  }
  .input input[type="radio"],
  .input input[type="checkbox"] {
    & + label::before {
      top: 8px;
    }
  }
}
.popup .popup-footer {
  margin-top: 47px;
  .btn-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 14px;
    .btn {
      margin: 0;
      padding: 12px 60px;
    }
    &.right {
    }
    .popup-close {
      position: static;
      width: auto;
      height: auto;
      text-indent: 0;
    }
  }
}
.popup .pop-inner > .popup-close {
  position: absolute;
  top: 45px;
  right: 35px;
  width: 34px;
  height: 34px;
  font-size: 0;
  line-height: 0;
  background: url(../images/common/popup-close.svg) no-repeat center center;
  background-size: 34px 34px;
}

.popup .table {
  table {
    th,
    td {
      padding: 5px 0;
      text-align: left;
      background-color: transparent;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      line-height: 32px;
    }
    th {
      font-size: 15px;
      line-height: 17.9px;
      font-weight: 500;
      background-color: #fff;
    }
    td {
    }
    thead {
      th {
        background-color: #fff;
        color: #414a73;
        border-right: 0;
        text-align: center;
        padding: 5px 0;
        height: 50px;
      }
    }
    tbody {
      tr:last-child {
        th,
        td {
          border-bottom: 0;
        }
      }
      &.align-center {
        td {
          text-align: center;
        }
      }
      tr.align-center {
        th,
        td {
          text-align: center;
        }
      }
    }
  }
}

/*라인*/
.line {
  height: 1px;
  margin: 20px 0;
  background-color: #c5c9d6;
}
.line2 {
  height: 1px;
  margin: 20px 0;
}

.box.type1.bg-line {
  background-color: #f8f9fb;
}
.box.type1.subway:before {
}
.box.type1.bus:before {
}
.box.type1 ul.bu li .text {
  width: calc(100% - 112px);
}

/*헌장 */
.charter {
  position: relative;
  padding: 8px 11px;
  border: 4px solid #161270;
}
.charter img {
  z-index: 10;
  position: absolute;
  top: 0;
  left: calc(50% - 43px);
}
.charter:before {
  z-index: 10;
  display: block;
  position: absolute;
  width: 55px;
  height: 55px;
  top: -4px;
  left: -4px;
}
.charter:after {
  display: block;
  position: absolute;
  width: 55px;
  height: 55px;
  top: -4px;
  right: -4px;
}
.charter .inner {
  position: relative;
  border: 1px solid #c5c9d6;
  padding: 88px 135px 109px;
}
.charter .inner:before {
  display: block;
  position: absolute;
  width: 55px;
  height: 55px;
  bottom: -13px;
  left: -16px;
}
.charter .inner:after {
  display: block;
  position: absolute;
  width: 55px;
  height: 55px;
  bottom: -13px;
  right: -16px;
}
.charter .title-area {
  position: relative;
  text-align: center;
  padding: 37px 10px 48px;
}
.charter .title-area:before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}
.charter .title-area .tit {
  margin-bottom: 35px;
  font-size: 40px;
  line-height: 50px;
  color: #161270;
}
.charter .title-area .txt {
  font-size: 16px;
  color: #888da6;
  word-break: keep-all;
}
.charter .cont-area {
  padding: 37px 5px 0;
}
.charter .cont-area > ul > li {
  position: relative;
  margin-bottom: 25px;
  padding: 20px 30px 20px 90px;
  background-color: #f8f9fb;
  font-size: 18px;
  line-height: 30px;
  word-break: keep-all;
}
.charter .cont-area > ul > li:before {
  display: block;
  position: absolute;
  top: calc(50% - 17px);
  left: 30px;
  width: 35px;
  height: 35px;
}
.charter .cont-area > ul > li:last-child {
  margin-bottom: 0;
}

.p-accordion {
  border-top: 2px solid #222;
  border-bottom: 0;
}

.p-accordion--item {
  position: relative;
  display: block;
  border-bottom: 1px solid #d1d1d1;
}

.p-accordion--header {
  position: relative;
}

.p-accordion--button {
  display: block;
  padding: 16px 12px;
  line-height: 1.2;
  box-sizing: border-box;
}

.p-accordion--button:after {
  display: inline-block;
  position: absolute;
  left: inherit;
  right: 10px;
  top: calc(50% - 20px);
  bottom: inherit;
  transform: translateY(-4px);
  width: 40px;
  height: 40px;
  background: url(../images/common/accordion-arrow.svg) no-repeat center center;
  background-size: 24px 24px;
}

.p-accordion--button.active:after {
  left: inherit;
  bottom: inherit;
  transform: rotate(180deg);
}

.p-accordion--title {
  display: inline-block;
  color: #333;
  /*padding-right: 36px;*/
}

.p-accordion--body {
  display: none;
  position: relative;
  padding: 12px;
  background: #fafafa;
  border-top: 1px solid #d1d1d1;
}

.p-accordion--body.active {
  display: block;
  opacity: 1;
  height: auto;
}

.p-accordion--body:after {
  display: table;
  clear: both;
}

.p-accordion .p-form-checkbox {
  position: absolute;
  left: 5px;
  top: 18px;
}

@media only screen and (max-width: 765px) {
  .p-accordion .p-form-checkbox {
    display: none;
  }
}

.p-accordion--faq .p-accordion--button {
  padding-left: 30px;
  background-color: #f2f4f6;
  &.active {
    font-weight: 600;
  }
}

.p-accordion--faq .p-accordion--title {
  /*margin-left: l36px;*/
  color: #6b7684;
  font-size: 16px;
  line-height: 20px;
}

.p-accordion--faq .p-accordion--body.active {
  padding-left: 30px;
}

.p-accordion--faq .p-icon--answer,
.p-accordion--faq .p-icon--question {
  position: absolute;
  top: 15px;
  font-size: 0;
  line-height: 0;
}

.p-accordion--faq .p-icon--question {
  left: 30px;
}

.p-accordion--faq .p-icon--answer {
  left: 32px;
}

@media only screen and (max-width: 765px) {
  .p-accordion--faq .p-accordion--body.active,
  .p-accordion--faq .p-accordion--button {
    padding: 18px 26px 18px 0;
  }

  .p-accordion--faq .p-accordion--button:after {
    top: 22px;
    right: 10px;
  }

  .p-accordion--faq .p-accordion--body.active {
    padding-left: 36px;
  }

  .p-accordion--faq .p-icon--answer,
  .p-accordion--faq .p-icon--question {
    left: 0;
    top: 16px;
  }
}

.p-accordion--link-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}

.p-accordion--link-group:after {
  display: table;
  clear: both;
}
.p-accordion--content {
  font-size: 16px;
  line-height: 20px;
}

.p-form-checkbox--single .p-form-checkbox--label,
.p-form-checkbox--single .p-form-radio--label,
.p-form-radio--single .p-form-checkbox--label,
.p-form-radio--single .p-form-radio--label {
  overflow: hidden;
  padding-left: 22px;
  width: 0;
  height: 22px;
  vertical-align: top;
}

.p-form-checkbox--input,
.p-form-radio--input {
  display: inline-block;
  opacity: 0;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

i.required {
  color: #ff0000;
}

/* 스타일 셀렉트 */
.select-box {
  position: relative;
  z-index: 10;
  width: 180px;
  .search-select {
    display: block;
    position: relative;
    width: 180px;
    height: 40px;
    padding: 7px 35px 7px 16px;
    border: 1px solid #c5c9d6;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 400;
    color: #414a73;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    &:before {
      display: block;
      position: absolute;
      top: 17px;
      right: 15px;
      width: 11px;
      height: 7px;
      background: url("../images/template/temp_icon_sprite.png") no-repeat -2px -120px;
      content: "";
      transition: all 0.3s;
    }
  }
  &.active .search-select {
    border-color: #414a73;
    &:before {
      transform: rotate(180deg);
    }
  }
  .search-list {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #c5c9d6;
    border-top: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    ul {
      .select-item {
        font-size: 16px;
        color: #888da6;
        &:hover {
          background-color: #f4f5f9;
          color: #414a73;
        }
        .select-anchor {
          padding: 8px 15px;
        }
      }
    }
  }
}

@media all and (max-width: 640px) {
  .select-box {
    .search-select {
      height: 36px;
      padding: 5px 35px 5px 16px;
      font-size: 14px;
      &:before {
        top: 13px;
      }
    }
    .search-list {
      top: 36px;
      ul li {
        font-size: 14px;
      }
    }
  }
}

/*  ---------    input -------------------------*/
.row {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.input-wrap {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.date-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px 5px;

  .input-label {
    width: auto;
  }
}
.input-label {
  display: inline-block;
  margin-right: 15px;
  font-size: 14px;
  line-height: 1;
  &.required::after {
    display: inline;
    font-size: inherit;
    font-weight: 600;
    content: "*";
    margin-left: 5px;
  }
}
.input {
  display: inline-flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  .limit {
    position: absolute;
    right: 10px;
    bottom: 15px;
    font-size: 16px;
    color: #999;
  }
  &.full-width {
    width: 100%;
    input[type="text"],
    input[type="password"],
    input[type="number"] {
      width: 100%;
    }
  }
  input[type="text"],
  input[type="password"],
  input[type="number"] {
    &.full-width {
      width: 100%;
    }
  }
  &.date {
    input {
    }
    .date-icon {
      font-size: 0;
      line-height: 0;
      position: absolute;
      top: calc(50% - 15px);
      right: 5px;
      width: 30px;
      height: 30px;
      background: url(../images/common/calendar.svg) no-repeat center center;
      background-size: 24px 24px;
    }
  }
  label {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }
  .password {
    position: relative;
    width: 100%;
    input[type="password"] {
      width: 100%;
    }
    .show-hide {
      display: inline-block;
      position: absolute;
      right: 14px;
      top: calc(50% - 16px);
      width: 32px;
      height: 32px;
      @include imgBg("../images/common/show-btn-disabled.svg");
      &[disabled] {
        &::after {
          content: "비밀번호 보이기";
        }
      }
      &::after {
        font-size: 0;
        line-height: 0;
        content: "비밀번호 숨기기";
      }
    }
  }
  &.file {
    white-space: nowrap;
  }

  select {
    width: 180px;
    height: 36px;
    padding: 4px 27px 4px 8px;
    border: 1px solid #4e5968;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 400;
    color: #52535e;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/service/sub/input-select-arrow.svg) no-repeat
      center right 10px;
    &::-ms-expand {
      display: none; /* 화살표 없애기 for IE10, 11*/
    }
    &:checked {
      background: url("") no-repeat 90% 50%;
    }
    &:focus {
      border-color: #414a73;
      color: #414a73;
      outline: none;
    }
    option {
      color: #888da6;
      &:hover {
        background: #f4f5f9;
        color: #414a73;
      }
    }
    &[disabled] {
      cursor: not-allowed;
      border-color: #c5c9d6;
      background-color: #f4f5f9;
      color: #888da6;
    }
  }
  &:has(input[type="radio"], input[type="checkbox"]) {
    width: auto;
  }
  input {
    &[type="text"],
    &[type="password"] {
      height: 50px;
      padding: 4px 8px;
      border: 1px solid #4e5968;
      border-radius: 3px;
      font-size: 16px;
      color: #333d4b;
      background-color: transparent;
      &::placeholder {
        font-size: 16px;
        letter-spacing: -0.3px;
      }
      &:focus {
        border-color: #414a73;
        color: #414a73;
        outline: none;
      }
      &[disabled] {
        cursor: not-allowed;
        border-color: #c5c9d6;
        background-color: #f4f5f9;
        color: #888da6;
      }
      &[type="password"] {
        padding-right: 50px;
      }
    }
    /* file */
    &[type="file"] {
      display: block;
      position: absolute;
      width: 1px;
      height: 1px;
      opacity: 0;
      left: 0;
      top: 0;
      & + button {
        position: relative;
        width: 45px;
        height: 40px;
        background-color: #414a73;
        border-radius: 3px;
        font-size: 0;
        &::before {
          display: block;
          position: absolute;
          width: 16px;
          height: 16px;
          top: calc(50% - 8px);
          left: calc(50% - 8px);
        }
      }
    }
    /* radio, checkbox */
    &[type="radio"],
    &[type="checkbox"] {
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      width: 12px;
      height: 12px;
      padding: 0;
      border: 0;
      opacity: 0;
      & + label {
        position: relative;
        display: inline-flex;
        gap: 10px;
        padding-left: 20px;
        line-height: 20px;
        font-size: 13px;
        color: #6b7684;
        vertical-align: top;
        min-height: 16px;
        &::before {
          top: 0;
          display: block;
          position: absolute;
          top: 3px;
          left: 0;
          width: 16px;
          height: 16px;
          background-color: transparent;
          border: 1px solid #d1d6db;
          border-radius: 50%;
          box-sizing: border-box;
        }
        &.empty {
          padding-left: 6px;
          height: 20px;
        }
      }
      &[type="radio"] {
        &:checked + label:before {
          border: 5px solid #0b6dcf;
          background-color: transparent;
        }
        &[disabled] {
          + label {
            position: relative;
            padding-left: 20px;
            padding-right: 10px;
            vertical-align: top;
            cursor: default;
            color: #888da6;
            &::before {
              display: block;
              position: absolute;
              top: 3px;
              left: 0;
              width: 16px;
              height: 16px;
              background-color: #c5c9d6;
              border: none;
              border-radius: 50%;
              box-sizing: border-box;
            }
          }
          &:checked + label:before {
            border: 5px solid #c5c9d6;
            background-color: transparent;
          }
        }
      }
      &[type="checkbox"] {
        & + label:before {
          display: block;
          position: absolute;
          top: 2px;
          left: 0;
          width: 16px;
          height: 16px;
          border-radius: 2px;
          box-sizing: border-box;
          background-color: #fff;
          border: 1px solid #d1d6db;
        }
        &:checked + label:before {
          border: 0;
          background: url(../images/common/check-checked.svg) #3182f6 no-repeat
            center center;
        }
        &[disabled] {
          + label {
            position: relative;
            display: inline-block;
            padding-left: 20px;
            padding-right: 10px;
            vertical-align: top;
            color: #888da6;
            cursor: default;
            &::before {
              display: block;
              position: absolute;
              top: 2px;
              left: 0;
              width: 16px;
              height: 16px;
              border-radius: 2px;
              box-sizing: border-box;
              background-color: #fff;
              border: 1px solid #d1d6db;
            }
          }
          &:checked + label:before {
            background: url(../images/common/check-checked.svg) #c5c9d6
              no-repeat center center;
          }
        }
      }
    }
    &.empty {
      margin: 0;
      input {
        [type="radio"],
        [type="checkbox"] {
          + label {
            padding-left: 6px;
            font-size: 0;
            line-height: 0;
            &::before {
              top: 0;
            }
          }
        }
      }
    }
  }
}
/* datepicker */
.date-wrap {
  display: inline-flex;
  align-items: center;
}
/*  ---------    input 끝 -------------------------*/
/*  ---------    pagination 시작 -------------------------*/
.pagination {
  display: flex;
  justify-content: space-between;
  margin: 40px auto 20px;
  .left,
  .right {
    flex: 1;
    &.right {
      display: flex;
      justify-content: flex-end;
    }
  }
  .page {
    display: flex;
    justify-content: center;
    align-items: center;
    .page-control {
    }
  }
  .page-control {
    display: flex;
    align-items: center;
    margin: 0 3px;
  }
  .page-link {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    &::before {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 30px;
      height: 30px;
    }
    &.prev-end {
      margin-right: 7px;
      &:before {
        background: url("../images/service/sub/board-arrow-fast-foward.svg")
          no-repeat center center;
      }
    }
    &.prev {
      &:before {
        background: url("../images/service/sub/board-arrow-prev.svg") no-repeat
          center center;
      }
    }
    &.next {
      margin-right: 7px;
      &:before {
        background: url("../images/service/sub/board-arrow-prev.svg") no-repeat
          center center;
        transform: rotate(180deg);
      }
    }
    &.next-end {
      &:before {
        background: url("../images/service/sub/board-arrow-fast-foward.svg")
          no-repeat center center;
        transform: rotate(180deg);
      }
    }
    &.prev-one,
    &.next-one {
      display: none;
    }
  }
  .page-link-group {
    border: none;
    display: inline-block;
    border-left: solid 1px #dedede;
    vertical-align: top;
    .page-link {
      border: none;
      width: 30px;
      height: 30px;
      font-size: 13px;
      line-height: 15.6px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: #000;
      box-sizing: border-box;
      &:hover,
      &.active {
        border: 1px solid #8b95a1;
        background-color: #e5e8eb;
      }
    }
  }
  @media all and (max-width: 768px) {
    .page-link-group {
      display: none;
    }
    .page-control {
      flex: 1;
      width: 100%;
    }
    .page-link {
      align-items: center;
      justify-content: center;
      width: 100%;
      &.prev-end,
      &.prev,
      &.next,
      &.next-end {
        display: none;
      }
      &.prev-one,
      &.next-one {
        display: flex;
        border: 1px solid #ddd;
        background-color: #f4f4f4;
        &.prev-one::before {
          position: static;
          display: inline-flex;
          background: url("../images/service/sub/board-arrow-prev.svg")
            no-repeat center center;
        }
        &.next-one {
          &::before {
            display: none;
          }
          &::after {
            display: inline-flex;
            position: static;
            width: 30px;
            height: 30px;
            background: url("../images/service/sub/board-arrow-prev.svg")
              no-repeat center center;
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}

/*  ---------    pagination 끝 -------------------------*/
