@use "./_mixin" as *;
@use "./default" as *;
@use "./header" as *;
@use "./footer" as *;

#container {
  display: grid;
  height: 100%;
  grid-template-rows: 104px 1fr auto;
  grid-template-areas: "header" "content" "footer";
  background-color: var(--c-white);
}
#content {
  grid-area: content;
  position: relative;
  padding-bottom: 200px;
  z-index: 10;
  @include xs {
    padding-bottom: 120px;
  }
}
.wrap {
  max-width: 1400px;
  width: 100%;
  position: relative;
  @include lg {
    width: calc(100% - 200px);
    margin: 0 auto;
  }
  @include md {
    width: calc(100% - 80px);
    margin: 0 auto;
  }
  @include sm {
    width: calc(100% - 40px);
    margin: 0 auto;
  }
}

.footer {
}
@include md {
  #container {
    grid-template-rows: 70px 1fr auto;
  }
}

/* content-header */
.content-header {
  margin-top: 100px;
  margin-bottom: 80px;
  .header-title {
    @include h1;
  }
  .sub-title {
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
  }
  .banner {
    position: relative;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    height: 60vh;
    text-align: center;
    background-color: #ddd;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 120px;
    padding: 10px 100px;
    .text {
      font-size: 24px;
      color: #fff;
      line-height: 1.5;
      font-weight: 600;
      br {
        display: none;
      }
    }
  }
  @include sm {
    margin-top: 80px;
    .header-title {
      @include h1(sm);
    }
  }
  @include xs {
    margin-top: 60px;
    margin-bottom: 60px;
    .header-title {
      @include h1(xs);
    }
    .sub-title {
      font-size: 17px;
      margin-top: 20px;
    }
    .depth-tab {
      margin-top: 20px;
      width: calc(100vw - 50px);
    }
    .banner br {
      display: inline;
    }
  }
}
/* depth tab */

.depth-tab,
.tab {
  margin-top: 30px;
  .tab-list {
    display: flex;
  }
  .tab-btn {
    padding: 10px 20px;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 700;
    border-radius: 50px;
    color: #70737c;
    background-color: transparent;
    border-color: transparent;
    span {
    }
    &.active {
      background-color: var(--c-brand);
      color: var(--c-white);
      span {
      }
    }
  }
  @include xs {
    .tab-btn {
      font-size: 17px;
      padding: 6px 15px;
    }
  }
}
