@use "./_mixin" as *;
@use "./default" as *;

#container {
  background-color: var(--c-white);
}
.header {
  padding: 0 100px;
  position: relative;
  z-index: 110;
  .logo-wrap {
    padding: 56px 0;
  }
  #menu {
    display: flex;
    justify-content: center;
    .depth-anchor {
      display: flex;
      align-items: center;
    }
    .depth1-list {
      padding-top: 30px;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .depth1-item {
      .depth1-anchor {
        height: 40px;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.8;
        color: var(--c-primary);
      }
    }
    .depth2-list {
      display: flex;
      gap: 15px;
      padding-top: 15px;
    }
    .depth2-item {
      width: 100%;
      .depth2-anchor {
        height: 40px;
        font-size: 16px;
        line-height: 1.8;
        font-weight: 600;
        color: var(--c-black);
      }
    }
  }
}

#content {
  position: relative;
  padding-bottom: 40px;
}
.wrap {
  max-width: 1400px;
  width: 100%;
  @include lg {
    padding: 0 100px;
  }
  @include md {
    padding: 0 40px;
  }
  @include sm {
    padding: 0 20px;
  }
}

.footer {
}
