@use "./_mixin" as *;
@use "./layout" as *;

@keyframes VisualAni {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes FirstAni {
  0% {
    transform: scale(1.1);
  }

  99% {
    transform: scale(1);
    z-index: 1000;
  }
  100% {
    transform: scale(1);
    z-index: -1;
  }
}
.main[data-menu-open="true"] {
  .header-wrap {
    background: #fff;
  }
}
.main[data-header-mode="white"] {
  .header #menu .depth1-item .depth1-anchor {
    color: #fff;
  }
  .header #menu .depth1-item.misto-logo svg {
    path,
    rect {
      fill: #fff;
    }
  }
  .header .lang {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
.main[data-header-mode="white"][data-menu-open="true"] {
  .header-wrap {
    background: #fff;
  }
  .header #menu .depth1-item .depth1-anchor {
    color: #000;
  }
  .header #menu .depth1-item.logo svg {
    path,
    rect {
      fill: var(--c-brand);
    }
  }
}
.main {
  font-family: "HafferSQ";
  .header {
    transform: translateY(-100%);
    opacity: 0;
  }
  &.start {
    .header {
      transform: translateY(0);
      transition: transform 1s;
      transition-delay: 0.5s;
      opacity: 1;
      transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .sec1 {
      .first-ani {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1000;
        width: 100%;
        height: 100%;
        animation: FirstAni 10s forwards;
        .img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
        }
        .title-wrap {
          position: relative;
          z-index: 10;
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          .title {
            font-size: 160px;
            line-height: 1;
            font-weight: 500;
            color: #fff;
          }
          p {
            font-size: 20px;
            line-height: 1;
            font-weight: 500;
            color: #fff;
          }
        }
      }
    }
  }
}
.main {
  #content {
    margin-top: -104px;
  }
  .header-wrap {
    background: transparent;
  }
  .sec1 {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .visual-slide-wrap {
    height: 100%;
  }
  .visual-con,
  .visual-slide,
  .slide-list,
  .slick-list,
  .slick-track {
    height: 100%;
  }
  .visual-slide {
    .img {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      transform: scale(1);
    }
    img {
      object-fit: contain;
      max-width: 100%;
      height: 100%;
      max-height: 100%;
    }
  }
  .slide-list {
  }
  .slide-item {
    width: 100%;
    height: 100%;
    &.slick-active {
      .img {
        animation: VisualAni 3s forwards;
      }
    }
  }
}
.main {
  .sec2 {
    width: 100vw;
    height: 100vh;

    .brand-slide-wrap,
    .brand-slide {
      height: 100%;
      position: relative;
    }
    .brand-slide {
      z-index: 20;
    }
    .slide-item {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .title-wrap {
        text-align: center;
        .title {
          font-size: 24px;
          line-height: 1.5;
          font-weight: 600;
          color: var(--c-brand);
          margin-bottom: 10px;
        }
        p {
          font-size: 60px;
          line-height: 1.4;
          font-weight: 600;
          span {
            display: block;
          }
        }
      }
    }
    .count {
      z-index: 30;
      position: absolute;
      width: 100%;
      bottom: 40px;
      .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        li {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0.2);
          font-size: 0;
          line-height: 0;
          button {
            width: 100%;
            height: 100%;
            border: 0;
            background-color: transparent;
          }
          &.slick-active {
            background-color: #000;
          }
        }
      }
    }
    .arrow-wrap {
      position: absolute;
      width: 100%;
      height: 0;
      top: 50%;
      z-index: 30;
      .arrow {
        position: absolute;
        top: -50%;
        font-size: 0;
        line-height: 0;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        background-color: transparent;
        background: url(../images/service/main/slide-arrow.svg) no-repeat center
          center;
        background-size: 18px 18px;
        &.prev {
          left: 40px;
        }
        &.next {
          right: 40px;
          transform: rotate(180deg);
        }
      }
    }
    .value-list {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      .value-item {
        position: relative;
        span {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 200px;
          height: 200px;
          border-radius: 200px;
          border: 1px solid var(--c-brand);
          color: var(--c-brand);
          font-size: 24px;
          line-height: 1.5;
          font-weight: 600;
        }
        &.center {
          order: 2;
          span {
            background-color: var(--c-brand);
            color: #fff;
            &::after {
              display: block;
              position: absolute;
              width: 300px;
              height: 300px;
              border-radius: 50%;
              background-color: rgba(220, 0, 20, 0.05);
            }
          }
        }
      }
      .left-wrap {
        order: 1;
        display: flex;
        flex-direction: row-reverse;
        gap: 30px;
        .value-item {
          &::before {
            position: absolute;
            display: block;
            width: 30px;
            left: 100%;
            top: 50%;
            border-top: 1px dashed var(--c-brand);
          }
        }
      }
      .right-wrap {
        order: 3;
        display: flex;
        gap: 30px;
        .value-item {
          &::before {
            position: absolute;
            display: block;
            width: 30px;
            right: 100%;
            top: 50%;
            border-top: 1px dashed var(--c-brand);
          }
        }
      }
    }
  }
}

.main {
  .sec3 {
    .section-top {
      position: relative;
      color: #fff;
      padding: 120px 60px;
      background-color: var(--c-brand);
      .sub-title {
        font-size: 24px;
        line-height: 1.5;
        font-weight: 600;
      }
      h2 {
        font-size: 64px;
        line-height: 1.2;
        font-weight: 600;
      }
      .more {
        position: absolute;
        left: auto;
        right: 60px;
        bottom: 60px;
        display: inline-block;
        font-size: 16px;
        line-height: 1.8;
        font-weight: 600;
        color: #fff;
        border: 1px solid #eee;
        border-radius: 50px;
        width: auto;
        height: auto;
        padding: 8px 20px;
      }
    }
    .board-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      list-style: none;
    }
    .board-item {
      width: 33.3333%;
      height: 30vw;
      list-style: none;
      position: relative;
      .board-anchor {
        width: 100%;
        height: 100%;
        position: relative;
        &::before {
          display: block;
          position: absolute;
          z-index: 20;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.1);
        }
        .img {
          z-index: 10;
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          transition: all 0.2s;
        }
        .logo {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          z-index: 20;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
        }
        .title-wrap {
          opacity: 0;
          display: flex;
          flex-wrap: wrap;
          gap: 5px;
          position: relative;
          z-index: 30;
          color: #fff;
          padding: 25px;
          position: absolute;
          left: 0;
          bottom: 0;
          h3 {
            width: 100%;
            font-size: 20px;
            line-height: 1.5;
            font-weight: 700;
          }
          p {
            width: 100%;
            font-size: 18px;
            line-height: 1.6;
            font-weight: 500;
          }
        }
      }
      &:hover .board-anchor {
        .img {
          filter: blur(10px);
        }
        .logo {
          display: none;
        }
        &::before {
          display: block;
          position: absolute;
          z-index: 20;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.1);
        }
        .title-wrap {
          opacity: 1;
        }
      }
    }
  }
}

.main {
  .sec4 {
    position: relative;
    .section-top {
      padding: 120px 60px 40px 60px;
      .title-wrap {
        display: flex;
        flex-wrap: Wrap;
        gap: 10px;
        .sub-title {
          width: 100%;
          font-size: 24px;
          line-height: 1.5;
          font-weight: 600;
          color: var(--c-brand);
        }
        h2 {
          font-size: 64px;
          line-height: 1.2;
          font-weight: 600;
        }
      }
    }
    .more {
      position: absolute;
      right: 60px;
      top: 198px;
      width: auto;
      height: auto;
      display: block;
      font-size: 16px;
      line-height: 1.6;
      font-weight: 600;
      border: 1px solid #000;
      color: #000;
      padding: 8px 16px;
      border-radius: 50px;
    }
    .board-list {
      display: block;
      font-size: 0;
      line-height: 0;
    }
    .board-item {
      display: inline-block;
      width: calc((100% - 40px) / 3);
      margin-right: 20px;
      vertical-align: top;
      &:nth-child(3n) {
        margin-right: 0;
      }
      .board-anchor {
        display: block;
        width: 100%;
        position: relative;
        .img {
          background-color: #eee;
          width: 100%;
          height: 391px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
        }
        .title-wrap {
          display: flex;
          gap: 5px;
          flex-wrap: wrap;
          color: #000;
          padding: 15px 0 20px;
          .category {
            font-size: 14px;
            line-height: 1.5;
            font-weight: 600;
            width: 100%;
          }
          .title {
            font-size: 18px;
            line-height: 1.6;
            font-weight: 600;
            width: 100%;
          }
          .date {
            font-size: 14px;
            line-height: 1.5;
            font-weight: 400;
            color: #70737c;
            width: 100%;
          }
        }
      }
    }
  }
}
