.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.p-datepicker {
  border-radius: 0;
}

.p-datepicker-rtl.dropdown-menu {
  left: auto;
}

.p-datepicker-rtl table tr td span {
  float: right;
}

.p-datepicker__dropdown {
  top: 0;
  left: 0;
  padding: 10px;
}

.p-datepicker__dropdown:before {
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #cdcdcb;
  border-top: 0;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
}

.p-datepicker__dropdown:after {
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-top: 0;
  position: absolute;
}

@media only screen and (max-width: 765px) {
  .p-datepicker__dropdown:after,
  .p-datepicker__dropdown:before {
    display: none;
  }
}

.p-datepicker__dropdown.p-datepicker-orient-left:before {
  left: 6px;
}

.p-datepicker__dropdown.p-datepicker-orient-left:after {
  left: 7px;
}

.p-datepicker__dropdown.p-datepicker-orient-right:before {
  right: 6px;
}

.p-datepicker__dropdown.p-datepicker-orient-right:after {
  right: 7px;
}

.p-datepicker__dropdown.p-datepicker-orient-bottom:before {
  top: -7px;
}

.p-datepicker__dropdown.p-datepicker-orient-bottom:after {
  top: -6px;
}

.p-datepicker__dropdown.p-datepicker-orient-top:before {
  bottom: -7px;
  border-bottom: 0;
  border-top: 7px solid #cdcdcb;
}

.p-datepicker__dropdown.p-datepicker-orient-top:after {
  bottom: -6px;
  border-bottom: 0;
  border-top: 6px solid #fff;
}
.p-datepicker__wrap {
  position: relative;
}

.p-datepicker__head {
  position: relative;
  margin-bottom: 5px;
  text-align: center;
}

.p-datepicker__head .p-datepicker-switch {
  max-width: 160px;
  padding: 5px 28px 5px 20px;
  border: 1px solid #cdcdcb;
  border-radius: 0;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAANElEQVQYV2Ncvnz5fwYiACPRCkGGEVIcGRnJyAizFZdikCKQGrhCbCbDFGEoRFaMrAgkDgB1ORXvQyzzggAAAABJRU5ErkJggg==)
    no-repeat right 6px center;
  font-weight: 700;
  text-align: center;
  cursor: pointer !important;
}

.p-datepicker__head .next,
.p-datepicker__head .prev {
  display: inline-block;
  height: 26px;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
}

.p-datepicker__head .next:focus,
.p-datepicker__head .next:hover,
.p-datepicker__head .prev:focus,
.p-datepicker__head .prev:hover {
  background-color: #f4f4f4;
}

.p-datepicker__head .next,
.p-datepicker__head .prev {
  position: absolute;
  top: 4px;
  width: 30px;
  font-size: 0;
}

.p-datepicker__head .next.disabled,
.p-datepicker__head .prev.disabled {
  visibility: hidden;
}

.p-datepicker__head .prev {
  left: 0;
  background-image: url(../images/common/prev.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 22px 22px;
}

.p-datepicker__head .next {
  right: 0;
  background-image: url(../images/common/prev.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 22px 22px;
  transform: rotate(180deg);
}

.p-datepicker .p-datepicker-decades .p-datepicker-switch,
.p-datepicker .p-datepicker-years .p-datepicker-switch {
  padding: 5px 20px 5px 8px;
  letter-spacing: -1px;
}

.p-datepicker .p-datepicker-centuries .p-datepicker-switch {
  padding: 5px 12px 5px 12px;
  letter-spacing: -1px;
  background: 0 0;
  border: none;
  cursor: default;
}

.p-datepicker .p-datepicker-centuries .p-datepicker-switch:hover {
  background: 0 0;
}

.p-datepicker .table-condensed {
  margin: 10px 0 0;
  width: 230px;
}

.p-datepicker .table-condensed:after {
  display: table;
  clear: both;
}

.p-datepicker td,
.p-datepicker th {
  padding: 0;
  text-align: center;
  width: 30px;
  height: 30px;
  border: none !important;
}

.p-datepicker th {
  background: 0 0 !important;
  font-weight: 700 !important;
}

.p-datepicker .table-condensed button {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
}

.p-datepicker .table-condensed button.day.focused,
.p-datepicker .table-condensed button.day:hover {
  background: #f4f4f4;
  cursor: pointer;
}

.p-datepicker .table-condensed button.new,
.p-datepicker .table-condensed button.old {
  color: #9b9b97;
}

.p-datepicker .table-condensed button.disabled,
.p-datepicker .table-condensed button.disabled:hover {
  background: 0 0;
  color: #cdcdcb;
  cursor: default;
}

.p-datepicker .table-condensed button.highlighted {
  background: #ddffda;
  border-radius: 0;
}

.p-datepicker .table-condensed button.today,
.p-datepicker .table-condensed button.today.disabled,
.p-datepicker .table-condensed button.today.disabled:hover,
.p-datepicker .table-condensed button.today:hover {
  background-color: #fecdc0;
  color: #000;
}

.p-datepicker .table-condensed button.today:hover:hover {
  color: #000;
}

.p-datepicker .table-condensed button.today.active:hover {
  color: #fff;
}

.p-datepicker .table-condensed button.range,
.p-datepicker .table-condensed button.range.disabled,
.p-datepicker .table-condensed button.range.disabled:hover,
.p-datepicker .table-condensed button.range:hover {
  background: #f4f4f4;
  border-radius: 0;
}

.p-datepicker .table-condensed button.range.today,
.p-datepicker .table-condensed button.range.today.disabled,
.p-datepicker .table-condensed button.range.today.disabled:hover,
.p-datepicker .table-condensed button.range.today:hover {
  border-radius: 0;
}

.p-datepicker .table-condensed button.range.today.active,
.p-datepicker .table-condensed button.range.today.disabled,
.p-datepicker .table-condensed button.range.today.disabled.active,
.p-datepicker .table-condensed button.range.today.disabled.disabled,
.p-datepicker .table-condensed button.range.today.disabled:active,
.p-datepicker .table-condensed button.range.today.disabled:hover,
.p-datepicker .table-condensed button.range.today.disabled:hover.active,
.p-datepicker .table-condensed button.range.today.disabled:hover.disabled,
.p-datepicker .table-condensed button.range.today.disabled:hover:active,
.p-datepicker .table-condensed button.range.today.disabled:hover:hover,
.p-datepicker .table-condensed button.range.today.disabled:hover[disabled],
.p-datepicker .table-condensed button.range.today.disabled[disabled],
.p-datepicker .table-condensed button.range.today:active,
.p-datepicker .table-condensed button.range.today:hover,
.p-datepicker .table-condensed button.range.today:hover.active,
.p-datepicker .table-condensed button.range.today:hover.disabled,
.p-datepicker .table-condensed button.range.today:hover:active,
.p-datepicker .table-condensed button.range.today:hover:hover,
.p-datepicker .table-condensed button.range.today:hover[disabled],
.p-datepicker .table-condensed button.range.today[disabled] {
  background-color: #ebb11c;
}

.p-datepicker .table-condensed button.selected,
.p-datepicker .table-condensed button.selected.disabled,
.p-datepicker .table-condensed button.selected.disabled:hover,
.p-datepicker .table-condensed button.selected:hover {
  background: #777;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.p-datepicker .table-condensed button.active,
.p-datepicker .table-condensed button.active.disabled,
.p-datepicker .table-condensed button.active.disabled:hover,
.p-datepicker .table-condensed button.active:hover {
  background-color: #2475b0;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.p-datepicker .table-condensed button.century,
.p-datepicker .table-condensed button.decade,
.p-datepicker .table-condensed button.month,
.p-datepicker .table-condensed button.year {
  display: block;
  width: 24%;
  height: 34px;
  line-height: 32px;
  margin: 10px 0.5%;
  float: left;
  cursor: pointer;
  border-radius: 4px;
}

.p-datepicker .table-condensed button.century.focused,
.p-datepicker .table-condensed button.century:hover,
.p-datepicker .table-condensed button.decade.focused,
.p-datepicker .table-condensed button.decade:hover,
.p-datepicker .table-condensed button.month.focused,
.p-datepicker .table-condensed button.month:hover,
.p-datepicker .table-condensed button.year.focused,
.p-datepicker .table-condensed button.year:hover {
  background-color: #fecdc0;
}

.p-datepicker .table-condensed button.century.disabled,
.p-datepicker .table-condensed button.century.disabled:hover,
.p-datepicker .table-condensed button.decade.disabled,
.p-datepicker .table-condensed button.decade.disabled:hover,
.p-datepicker .table-condensed button.month.disabled,
.p-datepicker .table-condensed button.month.disabled:hover,
.p-datepicker .table-condensed button.year.disabled,
.p-datepicker .table-condensed button.year.disabled:hover {
  background: 0 0;
  color: #cdcdcb;
  cursor: default;
}

.p-datepicker .table-condensed button.century.active,
.p-datepicker .table-condensed button.century.active.disabled,
.p-datepicker .table-condensed button.century.active.disabled:hover,
.p-datepicker .table-condensed button.century.active:hover,
.p-datepicker .table-condensed button.decade.active,
.p-datepicker .table-condensed button.decade.active.disabled,
.p-datepicker .table-condensed button.decade.active.disabled:hover,
.p-datepicker .table-condensed button.decade.active:hover,
.p-datepicker .table-condensed button.month.active,
.p-datepicker .table-condensed button.month.active.disabled,
.p-datepicker .table-condensed button.month.active.disabled:hover,
.p-datepicker .table-condensed button.month.active:hover,
.p-datepicker .table-condensed button.year.active,
.p-datepicker .table-condensed button.year.active.disabled,
.p-datepicker .table-condensed button.year.active.disabled:hover,
.p-datepicker .table-condensed button.year.active:hover {
  background-color: #2475b0;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.p-datepicker-days td span.new,
.p-datepicker-days td span.old {
  color: #cdcdcb;
}

.table-striped .p-datepicker table tr td,
.table-striped .p-datepicker table tr th {
  background-color: transparent;
}

.p-datepicker td:first-child .day:not(.old):not(.new),
.p-datepicker td:last-child .day:not(.old):not(.new) {
  color: #f16f5a;
}

.p-datepicker td:first-child .disabled,
.p-datepicker td:last-child .disabled {
  color: #cdcdcb !important;
}

.p-datepicker tbody tr:first-child td {
  border: none !important;
}

.p-datepicker-footer {
  display: block;
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.p-datepicker-footer .clear,
.p-datepicker-footer .close,
.p-datepicker-footer .today {
  width: 31%;
  margin: 0 1%;
  padding: 1px 10px 3px;
  border-radius: 2px;
  background-color: #eee;
  border: 1px solid #e1e1e1;
  cursor: pointer;
  color: #555;
}

.p-datepicker .cw {
  font-size: 10px;
  width: 12px;
  padding: 0 2px 0 5px;
  vertical-align: middle;
}

.p-datepicker-inline {
  width: 100%;
}

.p-datepicker-inline .table-condensed {
  width: 100%;
}

.p-date-group {
  position: relative;
  white-space: nowrap;
  display: table;
}

.p-date-group .p-date {
  width: 100%;
}

.p-date__icon {
  overflow: hidden;
  width: 30px;
  height: 30px;
  border-left-color: transparent !important;
  font-size: 0;
  color: transparent;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
}

/*.p-date__icon:before {
  display: inline-block;
  width: 14px;
  height: 16px;
  background: #f0f0f0 url(/common/images/program/p-icon-view.svg#calendar-alt)
    no-repeat center center;
  background-size: 18px 18px;
  vertical-align: middle;
}*/

.p-search-box {
  display: block;
  background-color: #fff;
  padding: 20px 30px;
  margin-bottom: 30px;
}
.p-form-group {
  display: flex;
  align-items: center;
  & + .p-form-group {
    margin-top: 10px;
  }
}
.p-date {
  position: relative;
  .p-datepicker__wrap {
    position: absolute;
    top: calc(50% - 15px);
    right: 5px;
    width: 30px;
    height: 30px;
    background: url(../images/common/calendar.svg) no-repeat center center;
    background-size: 24px 24px;
  }
}
.p-form-group__label {
  min-width: 120px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
}

/* board */
.p-pagination {
  margin: 40px auto 20px;
}

.p-pagination .p-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-pagination .p-page__control .p-page__link {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.p-pagination .p-page__control .p-page__link.prev-end {
  margin-right: 7px;
}

.p-pagination .p-page__control .p-page__link.next {
  margin-right: 7px;
}

.p-pagination .p-page__control .prev-one,
.p-pagination .p-page__control .next-one {
  display: none;
}

.p-pagination .p-page__link-group {
  border: none;
}

.p-pagination .p-page__link-group .p-page__link {
  border: none;
  width: 30px;
  height: 30px;
  font-size: 13px;
  line-height: 15.6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #000;
  box-sizing: border-box;
}

.p-pagination .p-page__link-group .p-page__link:hover,
.p-pagination .p-page__link-group .p-page__link.active {
  border: 1px solid #8b95a1;
  background-color: #e5e8eb;
}

.p-pagination .p-page__link-group .p-page__link.active:after {
  display: none;
}

.p-page__control .prev-end:before {
  background: url("/images/service/sub/board-arrow-fast-foward.svg") no-repeat
    center center;
  width: 30px;
  height: 30px;
}

.p-page__control .prev:before {
  background: url("/images/service/sub/board-arrow-prev.svg") no-repeat center
    center;
  width: 30px;
  height: 30px;
}

.p-page__control .next:before {
  background: url("/images/service/sub/board-arrow-prev.svg.png") no-repeat
    center center;
  width: 30px;
  height: 30px;
  transform: rotate(180deg);
}

.p-page__control .next-end:before {
  background: url("/images/service/sub/board-arrow-fast-foward.svg") no-repeat
    center center;
  width: 30px;
  height: 30px;
  transform: rotate(180deg);
}

.p-page__link-group {
  display: inline-block;
  border-left: solid 1px #dedede;
  vertical-align: top;
}

.p-page__control {
  display: inline-flex;
  align-items: center;
  margin: 0 3px;
  vertical-align: top;
}

.p-page__control svg {
  vertical-align: middle;
}

.p-page__control .next-end:before,
.p-page__control .next:before,
.p-page__control .prev-end:before,
.p-page__control .prev:before {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-top: -2px;
  background-repeat: no-repeat;
  background-position: center center;
}

.p-page__control .prev-one:before,
.p-page__control .prev:before {
  background-image: url("/images/service/sub/board-arrow-prev.svg");
}

.p-page__control .prev-end:before {
  background-image: url(../images/service/sub/board-arrow-fast-foward.svg);
}

.p-page__control .next-one:before,
.p-page__control .next:before {
  background-image: url(../images/service/sub/board-arrow-prev.svg);
}

.p-page__control .next-end:before {
  background-image: url(../images/service/sub/board-arrow-fast-foward.svg);
}

.p-page__control .prev-one {
  display: none;
  background: 0 0;
}

.p-page__control .next-one {
  display: none;
  background: 0 0;
}
.p-pagination + .p-btn-wrap {
  margin-top: -60px;
}

@media only screen and (max-width: 765px) {
  .p-pagination {
    display: block;
  }

  .p-page {
    display: block;
    margin: 0;
  }

  .p-page__link {
    display: inline-block;
    border-left: solid 1px #dedede;
  }

  .p-page__link-group {
    display: none;
  }

  .p-page__control {
    display: inline-flex;
    align-items: center;
    width: 49.5%;
    margin: 0;
    border: none;
    text-align: right;
    height: 54px;
    line-height: 50px;
  }

  .p-page__control:first-child {
    text-align: left;
  }

  .p-page__control .next,
  .p-page__control .next-end,
  .p-page__control .prev,
  .p-page__control .prev-end {
    display: none;
  }

  .p-page__control .next-one,
  .p-page__control .prev-one {
    display: inline-block;
    width: auto;
    min-width: 95%;
    background: #fafafa;
    font-size: inherit;
    text-indent: 0;
  }

  .p-page__control .prev-one:before {
    display: inline-block;
    width: 8px;
    height: 18px;
    margin: 0 10px 5px 0;
    background-image: url(/common/images/program/p-icon-view.svg#angle-left);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px 18px;
    vertical-align: middle;
  }

  .p-page__control .next-one:after {
    display: inline-block;
    width: 8px;
    height: 18px;
    margin: 0 0 5px 10px;
    background-image: url(/common/images/program/p-icon-view.svg#angle-right);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px 18px;
    vertical-align: middle;
  }
}

.table-unit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .legend {
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 400;
    color: #4e5968;
  }
  .p-search {
  }
}

.p-wrap {
  &.bbs {
    .p-table {
      .p-table--th-left {
        th,
        td {
          text-align: left;
          border-right: 1px solid #e5e8eb;
          border-bottom: 1px solid #e5e8eb;
        }
        th:last-child,
        td:last-child {
          border-right: 0;
        }
        tr:last-child {
          th,
          td {
            border-bottom: 1px solid #6b7684;
          }
        }
        th {
          padding: 10px 20px;
          background-color: #f2f4f6;
          font-size: 13px;
          line-height: 15.6px;
          color: #6b7684;
          padding-top: 20px;
          vertical-align: top;
        }
        td {
          background-color: #fff;
          color: #6b7684;
          font-size: 13px;
          line-height: 15.6px;
          padding: 8px 20px;
        }
        .bbs-view-title {
          th,
          td {
            background-color: #4e5968;
            color: #fff;
            font-size: 14px;
            line-height: 16.8px;
            font-weight: 400;
            border-right: 1px solid #191f28;
            padding: 12px 20px;
          }
          th {
          }
          td {
            font-weight: 700;
            font-size: 16px;
            line-height: 19.2px;
          }
        }
      }
    }
    .btn-wrap {
      display: flex;
      align-items: center;
      margin-top: 40px;
      gap: 12px;
      &.right {
        justify-content: flex-end;
      }
      .btn {
        min-width: 176px;
      }
    }
  }
  &.bbs-write {
    .input {
      border: 0;
      font-size: 13px;
      line-height: 16px;
      font-weight: 400;
      &.file .btn {
        min-width: 93px;
      }
    }
    textarea.input {
      min-height: 350px;
    }

    .bbs-write-title {
      td .input {
        font-size: 16px;
        line-height: 19.2px;
        font-weight: 700;
        padding: 0;
      }
    }
  }
}
